[2016-07-20 21:27] npomfret opened #2 "Some questions"
Thanks for this component.  Looks great.  Are there any plans to do something similar for android?  Or do you know if a suitable Android alternative?  I'd be happy to help integrate it into your project.

Also, is it necessary to supply a filetype filter, or is that optional?

[2016-07-22 02:52] Elyx0 commented on #2
Hey, no problem, I intended to make the android version too at some point because I will need it for my company in the weeks to come, if you can contribute before, it's all good! I didn't check for an android alternative yet, maybe it exists already.

To my knowledge, you have to provide a `kUTTypeData` or `kUTTypePackage` even if it's a match-all-type filetype.

[2016-07-22 07:01] npomfret commented on #2
Many thanks.  I've done some research and I think there's an Android API we can use to achieve the same results.  I'll have at look at integrating it into your project, maybe over the weekend.

Would you be able to move the current iOS code into an `ios` directory in the mean time?

[2016-07-22 20:14] Elyx0 commented on #2
I think so, I have to look how to architecture the repo to support both platform. PR Welcome as I need to finish my pokemon go radar \o/

[2016-07-27 09:08] #2 closed

[2016-07-28 17:42] npomfret opened #4 "Picking a folder to save to"
Have you any idea if its possible to pick a folder to save to?

[2016-08-03 19:08] Elyx0 commented on #4
Not that I know of, I think the first "trip" goes to the temporary inbox no matter what, then you can move it from there. But on IOS there is no notion of "folders" where to save it

[2016-08-04 08:53] npomfret commented on #4
I got the android stuff working on my [fork](https://github.com/npomfret/react-native-document-picker), I'll send a PR when its all tested. It seems in android, if you open a document that you've picked using the `Linking` api then the OS gives you the ability to save it where you like, which is great.  I'm wondering if there's an iOS equivalent, or if we could write one.  Being able to save a doc

[2016-08-26 12:02] vaibhawc opened #6 "'Documents' app ignoring the 'filetype'"
@Elyx0 , thanks man for your effort. This works really smooth.
But when I choose 'Documents' app it lets me choose any filetype and returns it with its extension.
However that is not supposed to be the case as in both iCloud and GoogleDrive the user can pick file with type specified in 'filetype' prop only and the url doesn't have an extension.
Do you have some ideas to handle such situations?
Tha

[2016-09-02 20:28] Elyx0 commented on #6
Hi @vaibhawc I actually have no idea, maybe @npomfret has some ideas though

[2016-09-05 10:30] npomfret commented on #6
What value are you passing for the filetype prop?

[2016-09-13 09:03] vaibhawc commented on #6
`filetype:['com.adobe.pdf'],`
Hey guys I am sorry, I had almost lost hope in this case, saw it just now.
I am trying to pick pdfs only, which both Google Drive and iCloud adhere to but not the Documents app.

[2016-09-13 09:06] npomfret commented on #6
You've solved your problem?

[2016-09-13 13:21] vaibhawc commented on #6
No man, it still exists. I had to settle with putting a check after after the file is picked, which sucks.
Why this must be happening?

[2016-09-13 20:54] npomfret commented on #6
Which os, iOS or Android?

[2016-09-14 09:36] vaibhawc commented on #6
It is iOS.

[2016-09-14 13:38] npomfret commented on #6
And what is the Documents app?

[2016-09-14 15:03] vaibhawc commented on #6
This one : https://readdle.com/products/documents
I came across this app while trying to test how document picking was going on apart from Drive and iCloud.

[2016-09-14 15:27] npomfret commented on #6
No idea about this one, sorry.  Maybe it just doesn't support a filter?

[2016-09-17 15:59] vaibhawc commented on #6
Oh, it's ok. Somehow I expected all apps were bound to accept a filter. Weird.

[2016-09-20 00:34] vaibhawc commented on #6
@npomfret, @Elyx0, I am curious, could there be a way to know the source of the file? i.e which app was used to pick it?

[2016-11-29 19:33] vonovak opened #9 "add license"
pretty please :)

[2016-11-29 21:55] Elyx0 commented on #9
I don't have time to maintain. It's totally open/free/do what ever you want. :)

[2016-11-29 22:00] vonovak commented on #9
#10 to make it official :)

[2016-11-29 22:00] #9 closed

[2016-11-30 11:50] KinanKazmi opened #11 "Does not work with iPad."
"
*** Terminating app due to uncaught exception 'NSGenericException', reason: 'Your application has presented a UIDocumentMenuViewController (<UIDocumentMenuViewController: 0x7fbc15e75600>). In its current trait environment, the modalPresentationStyle of a UIDocumentMenuViewController with this style is UIModalPresentationPopover. You must provide location information for this popover through the

[2017-01-24 11:22] zoomchik commented on #11
Trying to use the document-picker but also doesn't work with iPad. Are you going to fix that issue soon?

[2017-01-26 17:52] KinanKazmi commented on #11
@zoomchik
He didnt respond since months so i made modifications to his code so it could work for ipad. You may use this.
npm install CM-react-native-document-picker --save

[2017-01-26 23:16] npomfret commented on #11
What changes did you make?  Care to submit a PR?

[2017-01-27 09:01] KinanKazmi commented on #11
I dont know how to, lol.
You can see the diff and copy from here.
https://github.com/KinanKazmi/react-native-document-picker

[2017-01-27 09:08] KinanKazmi commented on #11
Ok, just did. Save your package.json, merge my pull, replace your saved package.json with mine.

[2017-01-27 17:54] zoomchik commented on #11
@KinanKazmi Thanks a lot. I works.

[2017-01-27 19:42] Elyx0 commented on #11
We'll try to fix that in the following days.

[2017-02-01 11:15] St1ma opened #13 "Spaces in filename"
Hi @Elyx0 @KinanKazmi
I'm trying to upload file to my server (due to your example)
The example file in attachments
[archive images.zip](https://github.com/Elyx0/react-native-document-picker/files/744657/archive.images.zip)

I got error from RNFS library during the preparing real path
[code]

Could you explain how to fix this problem?
Thanks

[2017-02-22 15:08] sibelius opened #14 "Add android documentation on README"

[2017-02-22 15:14] sibelius opened #15 "react-native link does not work for android"

[2017-02-22 15:14] sibelius opened #16 "add example"

[2017-02-22 15:17] sibelius opened #17 "support RN 40"
check this out: https://github.com/Microsoft/react-native-code-push/pull/678

[2017-02-22 15:52] sibelius opened #19 "JSON value 'public.content' of type NSString cannot be converted to NSArray"
The following code:

[code]

is throwing the following error

JSON value 'public.content' of type NSString cannot be converted to NSArray

[2017-02-22 16:05] sibelius commented on #19
it expects an array

filetype: [DocumentPickerUtil.allFiles()],

[2017-02-22 16:05] #19 closed

[2017-02-28 03:30] vsrinivas150283 opened #20 "DocumentPicker shows only ICloud Option"
DocumentPicker is only giving option of ICloud for all UTI types.

[2017-03-03 01:42] KristoferEng commented on #13
Were you able to figure this out? Having the same issue. Files with no spaces works but files with spaces don't.

[2017-03-03 02:00] KristoferEng commented on #13
Try: decodeURIComponent(name) for the name of the file.

[2017-03-03 03:28] #15 closed

[2017-03-03 03:28] #17 closed

[2017-03-03 17:27] sibelius commented on #20
it will only show icloud option on simulator

it will show more options if u have more apps that support document types, like google drive and dropbox

[2017-03-03 17:27] #20 closed

[2017-03-03 17:28] sibelius commented on #13
@St1ma `decodeURIComponent(name)` solved your problem?

[2017-03-03 23:58] mmmurf opened #21 "can't open it over a modal"
Is there a way to make this present over a modal?

[2017-03-05 21:35] oliviachang29 opened #22 "Feature request: ability to disable iCloud"
<img width="350" alt="screen shot 2017-03-05 at 1 28 12 pm" src="https://cloud.githubusercontent.com/assets/15709895/23591598/997f9aba-01a7-11e7-9547-fddd7a4e70c2.png">
I can't enable the iCloud entitlement because I'm not an Apple developer. The ability to enable/disable services would be greatly appreciated.

[2017-03-07 02:00] vsrinivas150283 opened #23 "Unable to see Local folders such as Album"
How can one access device local folders  apart from cloud options?

[2017-03-07 13:42] St1ma commented on #13
@sibelius Positive
@KristoferEng Thank you for response

[2017-03-07 13:42] #13 closed

[2017-03-08 00:16] npomfret commented on #23
take a look at react-native-fs (file system)

[2017-03-16 15:15] johuder33 opened #25 "Error trying load files from iCloud, Dropbox"
Hi, @Elyx0 , first at all, great module for RN, your work is amazing.

I've been using your module, quite good, but I face an issue with it.

when trying load files from iCloud or Dropbox, the module it can't able to find it, also I've tried with

* [react-native-fs](https://github.com/johanneslumpe/react-native-fs)
* [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob)

bu

[2017-03-16 17:43] johuder33 commented on #25
@Elyx0 I already solved the issue, we noticed that all files that couldn't load have something in common, all of them have spaces between their name so we need to decode their names to be able to load them.

So, thanks, I will close this unnecessary issue.

[2017-03-16 17:43] #25 closed

[2017-03-16 17:48] sibelius commented on #25
@johuder33 could you post you code solution here?

[2017-03-16 20:40] johuder33 commented on #25
Sure, this is my solution code

I have a loadFileStatFromURL function to get stat info of the file and then upload to the server with some of the metadata that stat can give me, like size, type, lastModified, etc.

I always user ` decodeURIComponent ` function to decode the url that comes from document picker.

[code]

[2017-03-22 13:18] zumaawad opened #27 "How to get file size?"

[2017-03-22 13:21] sibelius commented on #27
I think this package https://github.com/johanneslumpe/react-native-fs could help you

[2017-03-23 18:36] npomfret opened #28 "recent iPad changes causing crash?"
when running from iPhone:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UIPopoverController initWithContentViewController:] called when not running under UIUserInterfaceIdiomPad.'`

[2017-03-23 18:54] npomfret opened #29 "import failing"
my imports have started to fail:

`import {DocumentPicker, DocumentPickerUtil} from "react-native-document-picker";`

results in a "module does not exist"

Is this an intentional change?

[EDIT] also noticed the npm version doesn't return the filename, only the url. I can't see these changes in the git log though.  Has it been published from another repository?

[2017-03-26 06:57] Elyx0 commented on #29
@benoist Can you check that?

[2017-03-26 10:57] benoist commented on #29
@npomfret what was your previous version and which version are you using now?
Also can you add some more info about the error message?

[2017-03-27 10:14] npomfret commented on #29
My _package.json_ reads: `"react-native-document-picker": "git@github.com:Elyx0/react-native-document-picker.git"`

My code reads:

[code]

Just try it using the NPM version (make ruse you `rm node_modules/react-native-document-picker` first).  It seems quite broken.  I've had a look at the npm code and there's stuff missing - which isn't missing from this repo.  It's as if it was released from an

[2017-03-27 10:32] benoist commented on #29
Oh yeah I think the version in NPM is quite old. Looks like 9 months old. Perhaps a new version can be release?

[2017-03-27 18:55] Elyx0 commented on #29
I think @sibelius might be able to solve that

[2017-03-27 19:04] sibelius commented on #29
@npomfret could you try this commit

https://github.com/Elyx0/react-native-document-picker/commit/47f838891eb77265a0c686a7cbdbe5716768c1ee

I'm using this commit in my project and it is working fine

this works fine:
`import { DocumentPicker, DocumentPickerUtil } from 'react-native-document-picker';`

[2017-03-28 09:36] npomfret commented on #29
Master is working for me, I mistakenly thought that this iPad work thats gone in recently had been released to npm.

[2017-03-28 09:36] #29 closed

[2017-03-28 09:39] sibelius commented on #29
@Elyx0 can you release a new version to npm?

[2017-04-02 10:54] npomfret commented on #28
@Elyx0 any idea about this?  It's definitely broken when running from an iPhone.  I'm using master in my package.json (`"react-native-document-picker": "git@github.com:Elyx0/react-native-document-picker.git"`).

[code]

[2017-04-03 07:35] Elyx0 commented on #28
I need to take an afternoon on this to check. That's what happens when I accept PR blindly :/

[2017-04-03 10:09] amitbravo opened #30 "can not read property 'show' of undefined"
soon I used it , it went crashed . testing on xcode
componentDidMount(){

  const DocumentPicker = NativeModules.RNDocumentPicker;

  DocumentPicker.show({
      filetype: ['public.image'],
    },(error,url) => {
      alert(url);
    });

}

[2017-04-03 10:48] npomfret commented on #30
revert it maybe? and ask the author to take another look at it?

[2017-04-03 12:11] sibelius commented on #28
@benoist can u take a look in this?

[2017-04-03 12:17] benoist commented on #28
I'm currently not near a laptop till tomorrow. But by the looks of the error message some lines need to be moved to the iPad only code.

[2017-04-03 16:25] amitbravo commented on #30
Its fixed , I had to move Libraries files manually . Plus, I see it weird at this http://url.brentvatne.ca/1gqUD , instead of own xprojectfile , react-native-overlay 's file is demonstrated.

[2017-04-03 17:20] #30 closed

[2017-04-03 18:30] npomfret commented on #30
Have you tested on an iPhone?

[2017-04-04 07:06] benoist commented on #28
@npomfret I've opened up #31 that fixes the issue on the iPhone.

[2017-04-04 08:32] Elyx0 commented on #28
Merged. Hope it solves it

[2017-04-04 12:02] npomfret commented on #28
That's working for me again.  Thanks very much.

[2017-04-04 12:02] #28 closed

[2017-04-04 12:11] sibelius commented on #11
@KinanKazmi could you test against master again?

[2017-04-04 12:35] amitbravo commented on #30
not on device but on xcode emulator, working fine.

[2017-04-04 12:39] amitbravo commented on #23
do we have to install  react-native-fs  to see/open document folder ? on  react-native-fs 's github page , as they pointing , they are not maintaining it any more , would it trouble me in near future ?

[2017-04-06 08:51] sourabhkheterpal commented on #14
+1

[2017-04-09 02:15] binzailani3136 opened #32 "Ability to select multiple files."
Thanks for great work.
I would like to know if it is possible to select multiple files.
All I want is - select multiple files and get array of URIs from it's callback.
Is it possible?

[2017-04-11 06:42] BaptWaels opened #33 "iBooks compatibility"
Hi,

Thanks for the lib, great work 👍

I'd like to access my documents stored in iBooks to retrieve their own path. My goal is to access saved pdf on the device and being able to upload them from my app to my server using react-native-fetch-blob.

Does this lib support iBooks files ? Any restrictions from Apple ?

Thanks ;)

[2017-04-18 21:33] npomfret commented on #27
or react-native-fetch-blob maybe

[2017-04-18 21:33] #27 closed

[2017-04-20 07:23] rajeshkos opened #34 "Error : File not exist"
After selecting the file from iCloud using Iphone Device or Simulator, when i am try to upload this file getting file not exist error.

Any help please ?

[2017-04-21 12:35] Elyx0 commented on #33
I'm pretty sure you are not allowed to access your iBooks content from React native nor Objective-C See: https://www.quora.com/IOS-development-Is-it-possible-to-access-iBooks-from-an-app

[2017-04-21 12:35] #33 closed

[2017-04-21 12:36] Elyx0 commented on #4
Can we clean this issue?

[2017-04-21 12:37] #6 closed

[2017-04-21 12:37] #11 closed

[2017-04-21 12:38] Elyx0 commented on #14
PR welcomed for the Doc 👍

[2017-04-21 12:38] #16 closed

[2017-04-21 12:38] #21 closed

[2017-04-21 12:38] #22 closed

[2017-04-21 12:39] Elyx0 commented on #23
Closing this as this is not related to the lib itself.

[2017-04-21 12:39] #23 closed

[2017-04-21 12:41] Elyx0 commented on #34
Have you asserted that the file was indeed copied first from iCloud to the temporary folder?

[2017-04-21 12:43] Elyx0 commented on #32
According to this it seems it's not really an option as of now. http://stackoverflow.com/questions/42023332/can-we-select-multiple-files-in-single-attempt-using-uidocumentmenuviewcontrolle

[2017-04-25 02:11] Elyx0 commented on #29
Done 🎯

[2017-04-30 19:41] amitbravo opened #35 "How can I see Document folder in actionsheet ?"
icloud files are working pretty good , though as I am using react-native-fetch-blob which integrates fs system already, I am doing pretty good with it. however, i see only icloud option in actionsheet , how can I access/add DocumentDir  into that actionsheet ?

[2017-05-02 18:45] leonardocarvalho commented on #34
The URI I receive is something like

file:///private/var/mobile/Containers/Data/Application/<some id>/tmp/<bundle id>-Inbox/<filename>.

Then I try to pass it to RNFetchBlob for upload.

I'm not iOS dev, so I digging deeper in order to understand if I'm missing a permission or if RNFetchBlob expect another URI format. @rajeshkos did you solved the issue?

[2017-05-02 19:13] leonardocarvalho commented on #34
I may have found the problem. The document I was picking had a space on its name and the received file path was replacing it by `%20`. Consequently, the lib I was using to upload the file was looking for the wrong file.

More generally this can be an issue with all chars that get URL encoded. Using `decodeURIComponent` did the trick for me.

[2017-05-05 09:27] vonovak opened #36 "promisifying the module"
Hi! I'm using the ios part of the module, and have my own file picker on android. i'm thinking of throwing away my android implementation in favor of this one. If I promisify the module methods and add some more options on android, would you be ok with merging that? Thanks

[2017-05-08 08:50] npomfret commented on #36
Sounds good.  But can you make the changes to both iOS and android?

[2017-05-08 09:58] vonovak commented on #36
sure, that it the plan

[2017-05-08 09:58] #36 closed

[2017-05-25 23:58] lprhodes commented on #14
I'd happily help with a PR but with no initial pointers I'm struggling to get it working on Android...

I come from an primary iOS background so there must be something I'm missing in my Android knowledge.

I've gotten as far as adding the following the the apps main AppManifest file under a ".MainActvity" activity:

[code]

However I'm seeing the following error:

"No Activity found to handle Int

[2017-05-26 00:00] lprhodes commented on #14
Screenshot:
<img width="350" alt="screen shot 2017-05-26 at 10 00 18 am" src="https://cloud.githubusercontent.com/assets/162989/26475278/26cfbe3a-41fa-11e7-85a2-a256e9970abe.png">

[2017-05-26 13:31] #32 closed

[2017-05-26 13:33] Elyx0 commented on #14
@lprhodes Did the latest readme edit help you from merging https://github.com/Elyx0/react-native-document-picker/pull/37 ?

[2017-05-27 02:32] lizhiren2016 commented on #14
@sibelius Hello, I'm the problem, in Adnroid equipment APP pop up after you this mistake after he collapses, excuse me, can you solve it?

[2017-05-27 03:22] lizhiren2016 commented on #14
@Elyx0 Hello, first of all thank you for your patience see my question!Thank you!The same problem I met the original poster here, do you have a solution?

[2017-05-27 03:30] lizhiren2016 commented on #14
@lprhodes Hello, I'm the problem, in Adnroid equipment APP pop up after you this mistake after he collapses, excuse me, can you solve it?

[2017-05-27 03:33] Elyx0 commented on #14
@lizhiren2016 I deleted your multiple posts, you don't have to mention us one by one you could group them. @sibelius would surely know about it since it used to work and I didn't take part in the Android port.

[2017-05-27 03:40] lizhiren2016 commented on #14
@Elyx0 Ok, I'm sorry!Get you into trouble

[2017-05-27 08:33] lizhiren2016 opened #39 "选择文件后返回的路径没办法识别"
为什么我显示的选择文件后，返回的参数里面的uri是这样的
uri:"content://com.android.providers.media.documents/document/image%3A31760"
而不是"file:///image/image-ed114c33-22ee-43ad-bfda-538a050fa7d9.jp"呢？

[2017-05-27 08:54] lizhiren2016 commented on #39
是的自己搞错了，讨论关闭

[2017-05-27 08:54] #39 closed

[2017-05-29 22:53] Darking360 commented on #14
@lprhodes I'm having the same issue selecting documents from Android. It says: No activity found to handle intent (act=android.intent.action.OPEN_DOCUMENT...). Did you solve this? I don't know how to fix it. Thank you.

[2017-05-30 00:45] lprhodes commented on #14
I'll be trying again in the next few hours. I'll let you know how it goes

On 30 May 2017, 8:53 AM +1000, Miguel Alejandro Bolivar Portilla <notifications@github.com>, wrote:

[2017-05-31 14:59] bmoreira10 opened #41 "Android No Activity found to handle"
Hey, just tried using the package but i get a weird error, i checked all the manual installing and it is all correct. Im trying to when the user opens the 'page' it will appear the picker after 200 milisec but it gets this error or sometimes the App closes:

![screenshot_2017-05-31-15-53-49-097_com goofyapp 1](https://cloud.githubusercontent.com/assets/28138234/26638306/b81ae91e-4619-11e7-83d9-a1f

[2017-05-31 15:00] bmoreira10 commented on #41
Gets this error or the App closes*

[2017-05-31 17:23] ivankashtanov commented on #41
I've had same error (though only visible in Android monitor logs in Android Studio, no red screen) and found out that filetype values for Android should be MIME types (e.g. `*/*` for all files or `image/*` for all images). So you should detect current platform and choose filetype from some map accordingly (e.g. `image/*` for Android and `public.image` for iOS).

@Elyx0 could you add this to readme

[2017-05-31 17:32] Elyx0 commented on #41
Yep, thanks I need to get a Wiki / Common Errors page rolling!

[2017-06-01 09:17] bmoreira10 commented on #41
@ivankashtanov It worked, thanks!

[2017-06-01 10:17] bmoreira10 commented on #41
@Elyx0 it worked now but when i click a file how I can save the URL? it should got the Alert of the URL when i click right? it does nothing

[2017-06-01 12:01] Elyx0 commented on #41
@bmoreira10 What is in the `error` arg?

[2017-06-01 12:03] bmoreira10 commented on #41
@Elyx0 alert(url)

[2017-06-01 12:06] Elyx0 commented on #41
[code]

I really need to update the readme I thought this was obvious

[2017-06-01 12:11] bmoreira10 commented on #41
@Elyx0 nothing happens , i clicked a file and it just goes back to the App and on the console theres nothing

[2017-06-01 12:18] Elyx0 commented on #41
Sadly I didn't write that part so I wouldn't know more. I think you would have to dig deeper into this and look at
- https://github.com/orhan/react-native-document-picker/commit/cc7eb0e0178854a89fedce69ea14ab57249a395e Maybe adding this line fixes stuff?

- https://github.com/letshuddleup/react-native-document-picker/commit/33c68e53d15df65d7a72c7c21b0bc6628012eb92 Or this

- https://github.com/uda

[2017-06-01 16:45] lprhodes commented on #14
@Elyx0 Unfortunately it's not - the documentation is pretty much what `react-native link react-native-document-picker` does.

@Darking360 Did you find a solution? Looks like I'll be shipping without it on Android

[2017-06-01 16:57] Elyx0 commented on #14
@lprhodes Maybe anything from https://github.com/Elyx0/react-native-document-picker/issues/41#issuecomment-305476646 ?

[2017-06-01 17:17] lprhodes commented on #14
That helps thanks; changing to conditional file types based on platform

[2017-06-01 18:27] Elyx0 commented on #41
If anyone fixing this can submit an Android PR quite soon that would save a lot of users! (this has 800DL / month)

[2017-06-01 18:28] Elyx0 commented on #14
@lprhodes https://github.com/Elyx0/react-native-document-picker/issues/41#issuecomment-305579345 ! 🙏

[2017-06-01 18:31] ivankashtanov commented on #41
Not sure if that's the right workaround but I've used `setTimeout` after receiving file info from picker before doing anything with it as recommended in one of readme examples.
I've also used [Alert](https://facebook.github.io/react-native/docs/alert.html) component from `react-native` to show alert dialog, not just JS `alert`.

[2017-06-02 00:37] Darking360 commented on #14
@lprhodes I'm going to give it a try to the solution proposed by @Elyx0. I'll keep you updated. Maybe tomorrow I'll write about it, I live in Venezuela and the internet connection doesn't help at all. Thank you in advance 👍

[2017-06-02 08:03] ivankashtanov opened #42 "Proper Intent for opening system picker on Android"
Currently `ACTION_OPEN_DOCUMENT` is used for opening the dialog [here](https://github.com/Elyx0/react-native-document-picker/blob/master/android/src/main/java/com/reactnativedocumentpicker/DocumentPicker.java#L59).

Unfortunately this intent not supported by all popular file services (specifically Dropbox), for example I have only local directories and Google Drive as available file sources.

Ther

[2017-06-02 08:45] bmoreira10 commented on #41
@ivankashtanov  this kinda got me to get it right, i didn't need the timeout tho the alert is not working , i tried Alert.alert it gave me the error of getting object and not a string so I just did console.log(url) and it worked! Kinda silly that I didn't try this lol my bad

[2017-06-02 14:30] Elyx0 commented on #41
I'm reopening this because people often forget to check for closed issues when searching for their problem. I'm keeping this open until it's clearly stated in either the README or a PR.

[2017-06-03 03:37] lizhiren2016 opened #43 "Unable to process incoming event 'ProgressComplete ' (ProgressCompleteEvent)"
After using react-native-document-picker, project Android, gradlew, assembleRelease
Error “Unable, to, process, incoming, event,'ProgressComplete '(ProgressCompleteEvent)”
The specific reason is unclear.
The version I used:
React-native-document-picker:2.0.0
React-native:0.42.0
My build.gradle configuration:
CompileSdkVersion 23
BuildToolsVersion "23.0.1""
DefaultConfig {
ApplicationId "com.xxx""

[2017-06-03 15:09] Elyx0 commented on #43
This may sounds dumb but have you googled the error message? I did and found https://github.com/gradle/gradle/issues/882 could be related.

[2017-06-05 21:15] oliviachang29 opened #44 "Move file using react-native-fs"
I'm using react-native-fs as recommended in the readme, and I'm trying to move the file selected from the document picker to the Document Directory.

However, I get the error below:
[code]
What am I doing wrong?

FYI, I'm using iOS.

[code]

[2017-06-06 04:58] mykelaballe opened #45 "Does this support browsing photos?"

[2017-06-06 13:14] jkomyno commented on #45
Yes it does, at least on Android (that's the only version I've tried so far)

[2017-06-06 19:19] mykelaballe commented on #45
@jkomyno noted tnx

[2017-06-06 19:19] #45 closed

[2017-06-07 12:23] mykelaballe opened #46 "Simulator crashes"
platform: iOS (iphone 5s simulator)
RN: 0.34.0
react-native-document-picker: 2.0.0

the simulator crashes when i click the attach button. below is my code:

![image](https://user-images.githubusercontent.com/22584900/26877989-68da2b08-4bbe-11e7-87e1-634c3eafd3d4.png)

also tried const DocumentPicker = require('react-native').NativeModules.RNDocumentPicker

![image](https://user-images.githubuserco

[2017-06-12 06:44] pgonzalez-santiago commented on #35
Same question here.

[2017-06-14 10:12] vahidd opened #47 "application initializing document picker is missing the icloud entitlement"
I've installed package and linked libraries with "react-native link" command. I've also enabled iCloud in capabilities. But still I'm getting the following issue When I try to open document picker with:
<pre>DocumentPicker.show({
      filetype: ['public.image'],
    },(error,url) => {
      alert(url);
    });</pre>
![image](https://user-images.githubusercontent.com/3305475/27127177-2fad7cee-510f

[2017-06-21 07:45] sunny20131314 commented on #47
Before your app can use the document picker, you must turn on the iCloud Documents capabilities in Xcode。
[see details About the Document Picker](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/DocumentPickerProgrammingGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40014451)

[2017-06-22 18:07] oliviachang29 commented on #47
@sunny20131314, @vahidd mentions in his issue report that he has already turned on the iCloud Documents capability.

[2017-06-22 19:13] oliviachang29 opened #48 "Getting "undefined is not an object (evaluating 'DocumentPicker.show')" error on a new project"
![screen shot 2017-06-22 at 12 10 36 pm](https://user-images.githubusercontent.com/15709895/27451439-d9e547de-5743-11e7-9c7d-14ed10718bd7.png)

index.ios.js
[code]

package.json dependencies:
[code]

I ran `react-native link`, restarted simulator, packager, still doesn't work.

[2017-06-22 19:27] oliviachang29 commented on #34
This is similar to this error:
https://github.com/Elyx0/react-native-document-picker/issues/25

[2017-06-22 19:28] oliviachang29 commented on #44
Believe I found the cause. https://github.com/Elyx0/react-native-document-picker/issues/25 and https://github.com/Elyx0/react-native-document-picker/issues/34 explain it. I needed to decode it first.

[2017-06-22 20:02] #44 closed

[2017-06-26 16:28] bsonntag commented on #48
Did you try to do `import DocumentPicker from 'react-native-document-picker';` instead?

[2017-06-26 18:16] oliviachang29 commented on #48
I tried that too, didn't work. I eventually got it to work by creating another fresh project and installing everything again. Not sure what I did this time that made the difference.

[2017-06-26 18:16] #48 closed

[2017-07-12 13:00] ashish-algorythma opened #51 "Gallery option unavailable"
Hi,

When I call the DocumentPicker.show method, I see a list of sources with only one option, "iCloud Drive". I need the user to be able to upload a file from his phone's storage.

Please help,
Ashish

[2017-07-17 11:53] andrey-shostik opened #52 "IOS using module without iCloud capability"
Can it work without iCloud? I have not access to adding iCloud support in apple dev, can i use the module without it? Why iCloud required?
have the error: http://prntscr.com/fwp2h4
can't enable iCloud: http://prntscr.com/fwp36y

[2017-07-21 22:40] andrey-shostik commented on #52
for using document picker in ios it requires enabled iCloud and iCloud documents in apple dev

[2017-07-21 22:40] #52 closed

[2017-07-22 05:58] #51 closed

[2017-07-22 06:00] Elyx0 commented on #47
This is weird that you're the only one getting this hmm. I've never run extensive tests with iCloud capabilities so I wouldn't know :(

[2017-07-22 06:00] ashish-algorythma commented on #51
@Elyx0 Is there something wrong you suspect I would be doing? Please help.

[2017-07-22 06:01] Elyx0 commented on #46
Have you tried with downgrading RN to test?

[2017-07-22 06:01] #43 closed

[2017-07-22 06:02] Elyx0 commented on #25
This should go in a wiki hmm. Gonna look at opening one

[2017-07-25 01:47] mike-aungsan opened #54 "Multiple Select"
Hi,

Does it support multiple files select or not? If not, please guide me how to patch.

Regards,

Mike

[2017-08-01 20:35] jolinkomo-code commented on #51
I have the same problem. Please can this issue be re-opened.

[2017-08-08 07:27] CptMaumau opened #55 "react-native run-android build crashes"
It it crashing because of this override in ReactNativeDocumentPicker.java

[code]

Other projects removed it like here https://github.com/evollu/react-native-fcm/issues/470

[2017-08-10 08:23] Mactub07 commented on #51
have the same problem

[2017-08-11 16:58] Mactub07 opened #56 "picker doesn't return type for PDF"
I've tried to download PDF file from ICloud and got
DocumentPicker.show({
                filetype: ['com.adobe.pdf'],
            }, (error, res) => {
                const allowedType = ["image/jpeg", "image/png", "pdf"];

                if (allowedType.includes(res.type) && res.fileSize < 2000000) {
                    const Name = "Document " + res.fileName.split(".")[0];

[2017-08-15 10:54] abeltje1 commented on #55
@CptMaumau Did you find a fix for this?

[2017-08-15 11:06] sibelius commented on #55
just remove the `@Override`

[2017-08-16 10:34] amitbravo opened #57 "Uploading with android fail with react-native-firebase"
I am using react-native-firebase , I do not  need to use any react-native-fetch-blob etc to upload file on storage, its working perfectly with ios but as I see react-native-document-picker returns odd looking uri something like "content://com.android.providers.media.documents/document/image%3A2444" , it does not work , how can I use uri ? ealier I used react-native-file-picker for android but as I

[2017-08-16 10:37] amitbravo commented on #57
sorry, I was not logged in firebase properly earlier , that why I was getting error , its working fine now.

[2017-08-16 10:37] #57 closed

[2017-09-04 13:33] andrey-shostik opened #59 "After selecting a pdf file type is null"
When i choose pdf file from file manager type is null
devices tested: http://prntscr.com/ggxj1m, http://prntscr.com/ggxp89 and other devices the same issue
body of res: http://prntscr.com/ggxjar
maybe the same issue like here: https://github.com/Elyx0/react-native-document-picker/issues/56

[2017-09-13 08:31] BobCaSUaL opened #60 "Gradle dependency wrong"
Trying to compile with react-natie 0.48.3 I received the following error
`DocumentPicker.java:16: error: method does not override or implement a method from a supertype`

After I open the project in android studio I see the react-native dependency locked to version 0.20.1, then I investigated about maven dependecies seeing that the repo `http://files.couchbase.com/maven2/` have no `com/facebook/re

[2017-09-13 09:26] BobCaSUaL commented on #60
Maybe resolved by updating build.gradle and removed `@Override` notation. Will follow a test and a pull request.

[2017-09-13 10:45] BobCaSUaL commented on #60
The problem seems to be resolved yet

[2017-09-13 10:45] #60 closed

[2017-09-13 18:03] EyalSi opened #61 "Unable to use this package with archive (zip files)"
Hi,
I'm trying to use this package with zip files, mainly to read a zip file from dropbox/icloud.
Unfortunately, I'm unable to do so in iOS and Android.
On Android: Setting the filetype to DocumentPickerUtil.allFiles as in the example, shows the zip file and enable selection, but I'm getting a name which cannot be accessed using react-native-fs
the name includes %3A (which is decoded to':'). even

[2017-09-14 10:50] EyalSi commented on #61
on iOS the problem was solved by using public.data as filetype. I'm able to access files from dropbox.

[2017-09-15 10:36] myzpolice opened #63 "Cannot read property 'show' of undefined"
I'm trying to open document picker but it give me error.

Cannot read property 'show' of undefined
Files.openDocumentPicker
    Files.js:48:23
Object.onPress
    Files.js:74:40
Object.touchableHandlePress
    TouchableNativeFeedback.android.js:170:37
Object._performSideEffectsForTransition
    Touchable.js:746:13
Object._receiveSignal
    Touchable.js:664:11
Object.touchableHandleResponderRelease

[2017-09-15 12:18] stsiushkevich opened #64 "Bad result code: 0 alert in file manager"
Samsung Galaxy S5 Android 6.0.1
Huaway Y6 Pro  5.1

When I open file manager with DocumentPicker.show(), then go into some folder and then click system back button, system show me alert: Bad result code: 0. I cannot fix it(((

[2017-09-17 19:31] reposandermets commented on #63
@myzpolice I had the same problem.

In my case the reason was that during RN project generation I used name myapp so Java sources got generated to _android/app/src/main/java/com/myapp_.

After some time when Google Play was configured app got package="com.mycompany.myapp" as identifier.
During react-native link react-native-document-picker did not finish successfully complaining that it cannot fin

[2017-09-18 03:22] myzpolice commented on #63
![screenshot from 2017-09-18 10-19-04](https://user-images.githubusercontent.com/4339430/30528210-fb8681bc-9c5a-11e7-95dd-da6f75bbfa76.png)

@reposandermets thanks for your comment.

I'm trying to compile it again, gave me error as above.
So i give comment on @Override in ReactNativeDocumentPicker.java.
Now document picker works fine.

[2017-09-18 03:22] #63 closed

[2017-09-18 07:05] osmangoninahid opened #65 "Please update your readme/doc"
There is no instruction for file type like pdf , images, allFiles. Had to read your source code then I found your method. It should be include into readme.

[2017-09-19 06:56] MaxToyberman opened #67 "update npm"
The version in npm is not the same as here , please update.

[2017-09-20 06:19] siscofran999 opened #68 "no such file or directory, open"
![untitled2](https://user-images.githubusercontent.com/23308524/30629481-4bb6c9b0-9e06-11e7-90cb-bb624c7ec4e9.png)
Hy Elyx0. I choose the pdf file and I want to change it to base64 but, there is warning like this. Is there a solution ???
![untitled](https://user-images.githubusercontent.com/23308524/30629479-462ace7e-9e06-11e7-8ab5-15709850cf08.png)

[2017-09-20 19:36] dantman commented on #56
The iOS implementation doesn't return a mime type:
https://github.com/Elyx0/react-native-document-picker/blob/master/ios/RNDocumentPicker/RNDocumentPicker.m#L99-L105

[2017-09-20 21:50] dantman opened #69 "[RFC] 3.0.0"
I had a number of issues with the implementation of this library, enough that I ditched it and started working on my own document picker implementation internally to fit my needs.

I'd be willing to instead help overhaul this library if the community and package owner are willing to accept the changes I want to make.

- [x] *iOS* idea: <s>The `hfsTypeCode` should be used to attempt to return a mim

[2017-09-24 07:53] EyalSi commented on #61
has anyone handled such URLs?:
content://com.google.android.apps.docs.storage/document/acc=1;doc=2149

[2017-09-24 09:03] EyalSi opened #70 "Access Content uri in android"
I'm getting a content uri in android:
'content://com.android.providers.media.documents/document/image%3A99'
Decoding it does not work, and it seems that it's impossible to access the file.
Does anyone has an idea how to access the file?

10x

[2017-09-25 05:32] simonbuerger commented on #35
Anyone figure this out?

[2017-09-25 08:06] sergiocloud opened #71 "iOS 11 and Dropbox"
In iOS 11 the native behaviour is different. Now there is a new option menu:
![captura de pantalla 2017-09-25 a las 9 03 13](https://user-images.githubusercontent.com/20576914/30796105-f07d3718-a1d0-11e7-955e-38b9da014199.png)

If click on "Browse":
![simulator screen shot - iphone 6 - 2017-09-25 at 09 22 59](https://user-images.githubusercontent.com/20576914/30796639-40ecf79a-a1d3-11e7-864b-6b024

[2017-09-25 11:47] bsonntag opened #72 "Open camera on iOS"
Is it possible to have an option on iOS to open the camera and the photo gallery?

[2017-09-27 01:41] huangtubiao commented on #47
i also get the same error, did you solve the error? @vahidd

[2017-09-27 05:35] Elyx0 commented on #72
No this has nothing to do with this package sorry!

[2017-09-27 05:35] #72 closed

[2017-09-27 05:36] Elyx0 commented on #71
Dang. I don't own an Iphone anymore, this looks tricky...

[2017-09-27 05:38] Elyx0 commented on #70
Maybe here: https://stackoverflow.com/questions/3401579/get-filename-and-path-from-uri-from-mediastore

[2017-09-27 05:45] Elyx0 commented on #69
Hey, fellow canadian! I'm totally swamped and 100% open to contributors, RNDP really needs a v3 bump to work with the 2017 specs of various OS and provide more granularity. I've seen a lot of people fork it over time to add some little tweaks here and then without a MR back.

I've reviewed all your points and I agree with them, so I'm up for it!

[2017-09-27 05:47] Elyx0 commented on #68
did you figure it out?

[2017-09-27 05:47] Elyx0 commented on #67
Done!

[2017-09-27 05:47] #67 closed

[2017-09-27 05:47] Elyx0 commented on #65
Thanks for the MR :) !

[2017-09-27 05:47] #65 closed

[2017-09-27 05:48] Elyx0 commented on #64
Oh have to look into that!

[2017-09-27 05:50] Elyx0 commented on #61
I've been seeing a lot of these content urls recently in tickets, might have to look into it

[2017-09-27 05:51] Elyx0 commented on #59
Which OS version/ Version of the lib?

[2017-09-27 05:51] Elyx0 commented on #56
Yeah that sucks...

[2017-09-27 05:52] Elyx0 commented on #55
Got to keep that on track for v3

[2017-09-27 05:55] Elyx0 commented on #54
https://github.com/Elyx0/react-native-document-picker/issues/69 Might be in for v3

[2017-09-27 05:56] Elyx0 commented on #46
Or on a real device?

[2017-09-27 14:51] schmaluk opened #73 "File Upload via fetch"
How can I make file Upload work with react-native-document-picker:
[code]

But get back that file is missing in upload on the server

[2017-09-27 16:40] dantman commented on #69
Ok, most of these are required by one of the features in the app I'm writing for a client. So I'd be happy to work on this once I get them to prioritize features and get to that part of the list.

[2017-09-29 08:05] leoyb opened #74 "Can not select .bin file"
I would like to use iCloud to select .bin file, but I can not choose this type of file.
[code]

[2017-09-29 19:41] andrey-shostik commented on #59
@Elyx0 lib version is 2.00 and reav-native v0.43.0

[2017-09-30 00:36] huangtubiao commented on #25
@johuder33 hi, i follow your code to do, but it is not work for me, can you post detailed code? Or a link of demo, i will grateful for you.

[2017-10-09 06:32] uraniumreza opened #75 "Cannot read property 'show' of undefined"
Here is the code snippet: http://codepad.org/3Ix8sZeN

[2017-10-11 04:27] dantman commented on #75
This package exports `NativeModules.RNDocumentPicker` as `DocumentPicker`, so you are 99.99% guaranteed your issue is just that you have not finished linking the native code and rebuilding the native portion of your app.

[2017-10-11 04:57] dantman opened #76 "Incorrect license"
[`package.json`](https://github.com/Elyx0/react-native-document-picker/edit/master/package.json) says `"license": "ISC"`.

While [`LICENSE.md`](https://github.com/Elyx0/react-native-document-picker/blob/master/LICENSE.md) says "MIT License".

[2017-10-11 05:43] uraniumreza commented on #75
The problem has been solved!

[2017-10-11 09:48] #75 closed

[2017-10-13 10:50] dantman commented on #56
I found a solution to this. hfsTypeCode doesn't work, but Cocoa does have an API for interacting Apple's their database of UTIs and can be used to ask for the appropriate UTI for a file extension and then a mime type for a UTI.

https://github.com/Elyx0/react-native-document-picker/pull/77/commits/7a7ee8ec8aa1815cfe205ea21feee2a8097ea13d

[2017-10-13 11:00] dantman commented on #61
content: URLs need to be handled using the ContentResolver API. react-native-fs isn't designed to work with it so it's actually a poor recommendation. After finishing 3.0.0 I'm thinking of fixing the bugs in react-native-fetch-blob to improve the ContentProvider handling.

[2017-10-13 11:04] dantman commented on #64
resultCode 0 is the result code for user cancellation of the picker, RNDP doesn't handle it.

I've added a proper cancellation error for both Android and iOS and a simple way of checking for them: https://github.com/Elyx0/react-native-document-picker/pull/77/commits/8648b12b12cac2ae1f27e89d45319382cc09937d

[2017-10-13 11:07] dantman commented on #68
react-native-fs cannot handle DocumentProvider documents returned by a document picker.

[2017-10-13 11:09] dantman commented on #42
https://github.com/Elyx0/react-native-document-picker/pull/77/commits/063fe5d7c140c6b4a5263dd5aaf22395c8768fdf

[2017-10-14 11:59] dantman commented on #69
It too all day to write multiple file selection (I had to learn more Objective C than I ever wanted to know), but it's working now.

I was finally able to get files into the iOS simulator so I could test most of it. (requires signing in to iCloud and is quite unreliable in when files actually get synced, so that doesn't help for tests)

However while Apple is saying iOS 11 supports multiple file s

[2017-10-14 14:05] dantman commented on #74
On iOS `allFiles` gives `public.content`. Looking at the [UTI list](https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html) `.bin` files are considered by Apple to be `com.apple.macbinary-​archive` which doesn't inherit from `public.content`, instead it inherits from `public.data` and `public.archive`.

If you wa

[2017-10-14 16:16] dantman commented on #69
@Elyx0 The only things left are to fix the license and figure out what you want to do about the outdated screenshot and questionable `react-native-fs` recommendations in the readme.

[2017-10-15 06:21] MuneebJS opened #78 "App is crashing"
When my react-native-document-picker code run immediately app crashed.

[2017-10-15 06:24] dantman commented on #78
Have you setup iCloud?
https://github.com/Elyx0/react-native-document-picker#reminder

[2017-10-17 07:44] anumang opened #79 "Window UWP Support"
Supporting development with React-Native-Windows

[2017-10-17 10:45] konradkierus opened #81 "Unexpected '@' in program - v3"
Hi, I wanted to use v3 branch which seems to work great on Android but on iOS it causes the following error
Unexpected '@' in program.
And the next line is throwing 'Property 'allowsMultipleSelection' not found on objectof type 'UIDocumentPicketViewController *'

https://github.com/Elyx0/react-native-document-picker/blob/374e329dcc58c29049f97c96b317015b01c4fb73/ios/RNDocumentPicker/RNDocumentPicke

[2017-10-17 10:48] dantman commented on #81
Oh... hmm, this syntax requires Xcode 9. We may have to add an `#if` of some sort to make this work on different versions.

[2017-10-18 08:26] Elyx0 commented on #69
Update all the things!

[2017-10-19 00:25] dantman commented on #81
Try the v3 branch again, I just tried adding a conditional:
https://github.com/Elyx0/react-native-document-picker/commit/20f937a3463e5a31e8367467dcb4292fff32c4f2#diff-a6dde2a64fd2482aa26815585266c556

[2017-10-19 08:26] konradkierus commented on #81
@dantman Thanks! It compiles fine on xCode 8.2.2 right now

[2017-10-19 08:27] #81 closed

[2017-10-24 12:16] aditya-simplecrm commented on #70
Any solution?

[2017-10-24 12:24] dantman commented on #70
URIs returned from Android are DocumentProviders URIs. You need to access them using a ContentResolver. react-native-fs cannot handle DocumentProvider documents, it's only designed to work with files inside the limited areas of the filesystem the app is permitted to access.

Right now react-native-fetch-blob might work, though it actually does a lot wrong so it may not. React Native is going to be

[2017-10-24 12:38] aditya-simplecrm commented on #70
Any alternate solution for file picker and upload to server?

[2017-10-24 17:04] aditya-simplecrm commented on #70
I am able to get base64 from content uri using below code

RNFetchBlob.fs.readFile(this.state.pdf_uri,'base64')
// files will an array contains filenames
.then((files) => {
this.setState({base64Str:files})
// console.log(files)
})

I used this https://github.com/wkh237/react-native-fetch-blob package

[2017-10-24 17:09] dantman commented on #70
Yup, that could work for now, but keep in mind these problems with that library:
https://github.com/wkh237/react-native-fetch-blob/issues/525#issuecomment-330529369

[2017-10-24 17:21] aditya-simplecrm commented on #70
@dantman Do you have solution of this problem?
I am new to react native.

[2017-10-24 17:24] dantman commented on #70
@aditya-simplecrm The "solution" I'm using in the app I'm working on is just to wait another month for RN to get native Blob uploading.

Alternatively if you feel like writing native code you can just write your own upload code in Java and Objective-C/Swift native code instead of JS.

[2017-10-27 04:44] anbnb commented on #71
Hi @sergiocloud,
Have you solved this issue? I meet the same problem with you. Or do you know how to hide Dropbox selection in the list of Locations?
Thank you.

[2017-10-27 06:42] sergiocloud commented on #71
Sorry, I haven't time to look for solutions

[2017-11-02 02:01] JustSomeHack opened #83 "Multiple Files"
Is there a way to select multiple files?

[2017-11-02 02:36] CptMaumau commented on #83
It's coming in the [v3](https://github.com/Elyx0/react-native-document-picker/issues/69)

[2017-11-02 12:05] Thanmai-C commented on #83
when is v3 releasing ??

[2017-11-03 16:02] alxpy commented on #42
@Elyx0 @npomfret could you please make new release with this patch? Maybe `2.0.1`? You would help the whole world!

[2017-11-06 08:55] ephor commented on #42
Agree with @alxpy . We also need this patch as soon as possible.

[2017-11-06 09:07] dantman commented on #42
@ephor Require the v3 branch and test it out so we know it's working for people.

[2017-11-07 14:00] Gentlee opened #84 "Integrate with image picker"
There is no way to pick images from camera/photos on ios currently. Would be great to add button for image picker (and make option for it in js):
https://stackoverflow.com/questions/33127225/why-photos-app-is-not-showing-in-the-document-provider-extensions-on-the-device

[2017-11-12 00:59] kidequinox commented on #47
was getting same error, but it works for me when iCloud Documents is enabled.

[2017-11-21 09:41] tony-orn commented on #73
Thanks @mlukasch you save my day.

[2017-11-27 19:08] lewis-yuburi opened #85 "DocumentPicker.show() callback is no executing"
Hi all, use this library in my project and the picker works as well, but the callback do nothings.. This is my code:

[code]

The document picker works, I choose a file and apparently works but the console don't shows nothing.

I'm using React-Native 0.49.1, Android 5.1, Android Studio 3

Pd: I get this line in console:
` 11-27 14:06:48.306 13977-13977/com.android.documentsui D/Documents: onFinish

[2017-11-27 21:56] Elyx0 commented on #69
Bumping, how are we doing on `v3` <3 ?

[2017-11-28 00:43] lewis-yuburi commented on #85
Hi, I solve this just adding
[code]
to my main react native activity an works!

[2017-11-28 00:44] lewis-yuburi commented on #85
Hi, I solve this just adding
[code]
to my main java react native activity an works!

[2017-11-28 00:44] #85 closed

[2017-12-03 03:39] dantman commented on #69
@Elyx0 Same as before. Could you fix the license #76. What do you want to do about the questionable react-native-fs recommendations in the readme?

[2017-12-03 12:46] amirmatin opened #87 "DocumentPicker.show, displays alert only the first time"
Hi, I am trying to get the file url and name and open it using the following library..
https://github.com/philipphecht/react-native-doc-viewer
However, following function gets to the alert stage only once but it opens the picker everytime the button is pressed  ....

 DocumentPicker.show({
      filetype: [DocumentPickerUtil.allFiles()],
    },(error,res) => {
      alert([
        res.uri,

[2017-12-03 13:25] amirmatin commented on #87
quick but not a very good solution ....
right, the quick solution is to call any function (alert(), do_something_with_data(), etc..) after receiving data using a "setTimeout" ..

[2017-12-08 15:08] piranna commented on #79
This is merged in v3 branch, I think this issue can be clossed.

[2017-12-08 15:11] piranna opened #88 "Support for `web` platform"
Add support for [react-native-web](https://github.com/necolas/react-native-web) so the library can be used in `web` platform. Internally it can be implemented by using [`<input type="file">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file). If you want, I can be able to implement it myself and send a pull-request for that.

[2017-12-12 18:31] armanatz commented on #69
Any news on v3 @Elyx0 @dantman?

[2018-01-02 10:10] Jerameel commented on #46
Issue still persist on latest version of react-native(0.51) and react-native-document-picker(2.1.0), tested on iOS simulator 6 11.2.

It works fine on Android.

[2018-01-03 01:31] CptMaumau commented on #69
Can we safely use the v3 branch in the meantime?

[2018-01-03 01:53] dantman commented on #69
Theoretically it should be completely functional.

[2018-01-03 11:58] kalyanijamunkar10 opened #90 "exception: 'Application initializing document picker is missing the iCloud entitlement',"
I am getting an exception: 'Application initializing document picker is missing the iCloud entitlement', whenever I clicked on the button. how can I resolve this issue? please suggest me any solution. thanks in advance.
![screen shot 2018-01-03 at 3 22 06 pm](https://user-images.githubusercontent.com/27677593/34519696-46da27c8-f0ab-11e7-80df-76a304bb1572.png)
/* this is piece of code i am working

[2018-01-03 12:09] dantman commented on #90
Please read the reminder at the bottom of the readme:

https://github.com/Elyx0/react-native-document-picker#reminder

[2018-01-03 12:09] #90 closed

[2018-01-03 18:35] amirmatin commented on #46
+1

[2018-01-03 18:41] amirmatin commented on #46
@Jerameel. Hsve u tried setting up icloud from xcode ? Its mentioned at the buttom of the documentation page as a reminder...

[2018-01-04 06:11] kalyanijamunkar10 commented on #90
is it compulsary to use xcode IDE, as i am using Atom IDE.

[2018-01-04 06:12] dantman commented on #90
No, but you do need Xcode to edit your project settings.

[2018-01-05 14:04] amirmatin commented on #78
@muneebkhan7737  Did this solve your problem ? or you found another solution ?

[2018-01-11 06:11] EyalSi commented on #70
There is now a solution for this problem in react-native-fs. Enabling access and copy content:// files -https://github.com/itinance/react-native-fs/pull/395

[2018-01-17 07:28] CptMaumau commented on #69
@dantman is there a way to supply a limit number of files for multi picker?

[2018-01-17 07:29] dantman commented on #69
@CptMaumau I do not know of that being available as an option on any os.

[2018-01-23 12:30] KubaGL commented on #71
@anbnb @sergiocloud any luck with this issue?

[2018-01-23 12:42] sergiocloud commented on #71
@KubaGL nothing, sorry

[2018-01-31 09:02] buixuanhai commented on #84
I have the same problem with this.

[2018-01-31 12:36] Elyx0 commented on #84
Yep that would be nice if someone could pick that up and PR

[2018-01-31 12:39] Elyx0 commented on #76
MIT it is. Can you edit it?

[2018-02-07 09:22] mjmasn commented on #69
@dantman re multiple file selection on Android, when using the Google Photos picker it only returns a single file despite allowing you to select many files, and the Google Drive picker only allows selecting and returning a single file.

It's a bit weird because you can access the same files in multiple ways and some work, some don't. Not sure how easy it would be to solve but I'm happy to take a l

[2018-02-07 17:39] mromarreyes commented on #75
@uraniumreza, how did you solve it?

[2018-02-07 17:45] uraniumreza commented on #75
@mromarreyes I didn't add permission for WRITE_EXTERNAL_STORAGE!

[2018-02-07 17:46] mromarreyes commented on #75
@uraniumreza So your error was on android? I'm having the issue with iOS. Did you have any issues with iOS?

[2018-02-07 17:52] uraniumreza commented on #75
@mromarreyes actually I didn't try this for IOS!

[2018-02-08 14:05] LordParsley commented on #71
It looks like `UIDocumentMenuViewController` [has been deprecated](https://developer.apple.com/documentation/uikit/uidocumentmenuviewcontroller) in iOS 11.

Seems like Apple intends to use the [Present the Most Recently Used Document Picker](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/DocumentPickerProgrammingGuide/AccessingDocuments/AccessingDocuments.html#

[2018-02-08 20:52] dantman commented on #71
@LordParsley this is done in v3
https://github.com/Elyx0/react-native-document-picker/commit/2675553a67a9cf7ee46f8faf04c0533c2cba1778

[2018-02-10 04:12] SoftARV commented on #85
the same problem is happening to me, can you elaborate more on what you did to resolve the error?

[2018-02-11 19:26] lewyuburi commented on #85
Go to the file where you starts your React-Native activity and just add the method `onActivityResult`:

[code]

The file is where you have the following methods:

[code]

[2018-02-12 06:08] cnxtwang commented on #68
not sure, for me, i found that my file has empty string, like `a b c.pdf`, the document picker return the encodeURI, like `a%20b%20c.pdf`, it cannot found in `react-native-fs`, so i use decodeURI, after that, it can be found. read it and move it.

[2018-02-16 03:59] ethanx94 commented on #79
I wanted to interject on this. So there is filepicker support in the v3 branch, however if you plan on using it in your app with RNFS you'll notice that you'll be restricted to UWP's sandboxing. This means the windows filepicker dialog itself is the only way of getting around this sandboxing issue on UWP apps. So I made a fork which adds a base64 string 'content' property to the object returned fr

[2018-02-16 11:52] piranna commented on #79
Why instead of a base64 string don't use an ArrayBuffer with the file content? Or better than that, why don't use a Stream object?

[2018-02-16 15:16] ethanx94 commented on #79
It was done that way to basically mirror RNFS's readFile method here
https://github.com/itinance/react-native-fs/blob/master/windows/RNFS/RNFSManager.cs

Though I could see some benefit from having a more flexible data type....similar to react-native-fetch-blob (which also currently lacks a UWP port).
Since the rest of documentpicker's properties are strings I just wanted something that would fit

[2018-02-16 18:18] agates4 commented on #30
why does the screenshot show react-native-overlay instead of the document picker? kind of silly. very confusing

[2018-02-17 18:37] agates4 opened #94 "Better documentation - here's how you REALLY install [iOS]"
This should be added to the documentation. It's much more clear and will save headaches in debugging issues.

1. Enable cloud capabilities
<img width="700" alt="screen shot 2018-02-17 at 1 28 14 pm" src="https://user-images.githubusercontent.com/2314309/36344310-6a920f74-13e6-11e8-95f7-f29f9b7b1d34.png">
If you have automatic code signing, this will be created and handled for you. It's important t

[2018-02-20 05:33] navibrar commented on #71
It is not showing all other options(dropbox, googledrive etc)Just showing one option "Browse".I tried the changes of commit : " https://github.com/Elyx0/react-native-document-picker/commit/2675553a67a9cf7ee46f8faf04c0533c2cba1778" it directly direct me to browse detail view but I need all other options in action-sheet.

[2018-02-20 11:52] fretman92 commented on #94
Thanks for this help!
I'll add you need to enroll the paid Apple developer program to activate the iCloud entitlement...

[2018-02-20 19:05] FrankSandqvist commented on #74
Putting `filetype: ['public.item']` worked for me.

[2018-02-20 23:46] ethanx94 commented on #79
As you could imagine...I hit a wall pretty quick with larger files. It was originally supposed to be for data in simple RN Image tags (hence the base64) but trying to do any large file handling throws errors and crashes my client. I might redo this as you suggested. Then if I need it formatted down to a base64 string at any point I can do it on the Javascript side instead of the native module code

[2018-02-21 02:03] dantman commented on #71
@navibrar You're not supposed to see an ActionSheet, the point of that commit is that Apple has deprecated the action sheet pattern and you're supposed to go directly to the detail view and use the menu if you want to switch to another option.

[2018-02-21 02:23] dantman commented on #79
RN is going to have a `Blob` class soon with natively stored data that can be fetched using `fetch`. I'm still not sure I like this hack being in rndp, nor know enough about UWP to tell if it's actually even necessary or there is a better way. But perhaps you might be able to use `Blob` so that the data stays in the native layer where it's possible to later upload it without transferring it to JS

[2018-02-21 03:26] ethanx94 commented on #79
Always excited for new developments in the React-Native ecosystem :-)
With that said, this file dialog is the only thing that will let you “break the sandbox” of UWP being stored deep in some AppData folder so I will probably continue to make some sort of solution for my own purposes at least. There is another upcoming Windows 10 update that allows for full filesystem permissions but until then I’

[2018-02-21 04:03] dantman commented on #79
Android and iOS have similar restrictions, you don't need full file permissions. My confusion was just that on Android and iOS you're not given a `File` instance that is your one and only chance to interact with the file. You're just given the URI or file path and temporary permission to read it. Which you can just do later using the URI, on Android using the standard DocumentProvider and on iOS u

[2018-02-21 08:15] piranna commented on #79
Don't forget [my pull-request](https://github.com/Elyx0/react-native-document-picker/pull/89) add support for web too ;-)

[2018-02-24 12:01] laurent22 commented on #64
Several users are also seeing this resultCode 0 in my application, even when they did not cancel: https://github.com/laurent22/joplin/issues/177

Not sure what the issue is, maybe the module is incorrectly interpreting the response from the Android file manager. Unfortunately I cannot replicate this in the simulator.

[2018-03-02 09:29] pgonzalez-santiago commented on #90
It is possible to use the library without icloud options?

[2018-03-02 10:50] pgonzalez-santiago commented on #51
How did you solved it?

[2018-03-02 10:51] pgonzalez-santiago commented on #35
Same question here. I wanna pick a local pdf to then upload it with RNFS, how can I do it?

[2018-03-02 10:52] pgonzalez-santiago commented on #20
A what about local files inside the simulator? how can I access to them?

[2018-03-03 19:34] acb commented on #46
I can confirm that enabling iCloud fixed my crash when launching the picker.  Annoying that it doesn't give you a helpful error, but you definitely need to try enabling it.

[2018-03-03 19:52] #46 closed

[2018-03-05 10:59] gmartini20 commented on #85
@lewyuburi

I'm getting the same error, but I am getting an error when I try to build an ReactInstanceManager instance (mReactInstanceManager) on my MainActivity. Can you show how you create the ReactInstanceManager instance?

Thank you!

[2018-03-05 11:37] yashojha19 commented on #84
that would be really awesome.

[2018-03-05 15:59] lewyuburi commented on #85
@gmartini20 this is how my MainActivity file look like

[code]

[2018-03-05 18:26] elucaswork commented on #84
I was able to make `DocumentPicker` work work with `ImagePicker` setting ImagePicker`s `customButton`, like this:

[code]

[2018-03-06 01:53] sentry0 opened #96 "How do I configure Google Drive Access?"
I seem to have the ability to see and browse Drive but I can't open any documents from it.  Opening documents locally works.

The only way I can access drive is by allowing access to all files...I need to only allow access to XML files or my program barfs.

[2018-03-06 06:04] yashojha19 commented on #84
Bro, it is what everyone is doing already, we were asking for camera module to be integrated to this library, so that only react-native-document-picker alone could be used for all of these purposes.

[2018-03-06 06:15] dantman commented on #84
@yashojha19 You might want to suggest how you think that can be implemented. Because this library isn't a document picker library, it's a library that asks the OS to display a document picker for the user to pick a document the library/app doesn't have permission to list.

[2018-03-06 15:16] iyegoroff commented on #64
I also receive "Bad result code: 0" when invoking DocumentPicker.show() on Android 4.2.2 ASUS tablet. However, on Android 7.0 Samsung Galaxy J7 everything is ok with the same code.

[2018-03-06 15:19] laurent22 commented on #64
It seems it can happen on any device, but I've never managed to replicate it on an emulator. Some users have reported it happens on relatively recent devices like Pixel 2 running Oreo 8.1.

[2018-03-13 11:19] javascriptmiracle commented on #69
When will release new version?

[2018-03-13 17:51] dantman commented on #69
Issues needing solving for v3:

- Decide what to do about questionable "How to send it back ?" readme section
- Update screenshot
- Updated documentation
- Windows somehow got shoved into 3.0.0 instead of 3.1.0, so we need to make that stable
- Possibly need to integrate web version
- Fix the license tag
- We need people actually testing out and using v3, I suppose I should push a beta to the next

[2018-03-14 18:31] CarlaTeo opened #97 "Unable to select Google Drive files on iOS"
Native files (docs, sheets, slides) appear to be unselectable, meanwhile on Android they appear selectable as PDF (it seems they are automatically converted, but that's OK for me).

<img width="320" alt="img_da1797075694-2" src="https://user-images.githubusercontent.com/9220147/37422517-0a0f89de-279a-11e8-9a19-c3d19e724315.png">

It used to work on iOS too.

[2018-03-14 18:43] dantman commented on #97
What settings are you using to open the picker?

[2018-03-14 18:51] CarlaTeo commented on #97
@dantman
I'm using this:
[code]

[2018-03-14 19:06] CarlaTeo commented on #97
This situation happened to some Androids too, but cleaning the cache of Google Drive solved the problem to them, but not to iOS users.

[2018-03-14 19:17] dantman commented on #97
Try adding `'com.adobe.pdf'` to your `filetype` list.

Then instead of that try adding `'com.microsoft.word.doc', 'com.microsoft.excel.xls'`.

[2018-03-14 20:36] CarlaTeo commented on #97
Using `'com.adobe.pdf'`only the pdf file was selectable, and using `'com.microsoft.word.doc', 'com.microsoft.excel.xls'` none of them became selectable...=/

[2018-03-14 20:54] dantman commented on #97
`com.adobe.pdf` inherits from `public.data` and `public.composite-​content`, `public.composite-​content` inherits from `public.content`. So it's strange if it's only available when listing pdf. But I guess that's just a Drive/iOS quirk.

If the word and excel UTIs don't work, then Drive is either using mysterious unidentified custom UTIs we don't know or using the root `public.item` and not bother

[2018-03-14 21:07] CarlaTeo commented on #97
Thank you very much, Daniel, it does the job.
Later I'll explore more what UTIs Google might be using, but for now I'll stay with your fix. 😄

PS: I also[ asked on StackOverflow](https://stackoverflow.com/questions/49285782/unable-to-select-google-drive-files-on-ios), you may post your solution there too so that I can accept. Otherwise, later I'll answer it myself and link it to your answer here.

[2018-03-14 21:08] #97 closed

[2018-03-14 21:24] dantman commented on #97
You could try out `org.openxmlformats.spreadsheetml.sheet`.

Also, if you switch to v3 you could add something like this to export the UTI in the metadata:
[code]

Then you can use `public.item` to make everything selectable and investigate what Drive gives for the UTI when you select it. (Though it's based on file extension so I can't guarantee it's the same, but it's a start)

[2018-03-14 22:00] CarlaTeo commented on #97
I tried `org.openxmlformats.spreadsheetml.sheet` with no success.

I'll take a look in v3.

In the meantime, do you know by any chance how could I convert the files to PDF?
Because they are being picked with gdoc/gsheet extensions, that only works in the GDrive app. =/

[2018-03-14 22:18] dantman commented on #97
Android offers an API for converting to a mime type if the DocumentProvider supports it. But I am not aware of any API like that for iOS.

[2018-03-14 22:25] dantman opened #98 "Try using get NSURL.getResourceValue and kCFURLTypeIdentifierKey to get UTI directly"
Right now in v3 we are getting the mimeType through a UTI (Apple's Universal Type Identifier) based on the file extension using the System's .ext -> UTI and UTI -> mimeType databases.

We should investigate whether using [NSURL.getResourceValue](https://developer.apple.com/documentation/foundation/nsurl/1408874-getresourcevalue) with the [`kCFURLTypeIdentifierKey`](https://developer.apple.com/docu

[2018-03-15 11:16] javascriptmiracle commented on #69
@dantman
on ios the applications the plugin opens the explorer by default
can I open media files, photos like android app

[2018-03-15 15:27] Elyx0 commented on #69
You can go ahead and pick any open source license you see fit @dantman For the How to send it back, maybe we can put in place a Wiki instead but I really think it is going to be a recurring question amongst users

[2018-03-15 16:43] dantman commented on #69
React Native 0.54.0 has finally been released with `Blob` support!!! Once I get back to the project feature that needs this, I think we can come up with documentation that recommends how to use Blob instead and release v3 with a recommendation to use RN >= 0.52

I'm not clear on what you're asking. On iOS there should be a Back/Menu button to switch between document providers/storage locations, iC

[2018-03-16 04:52] javascriptmiracle commented on #69
yes
can i open photos
![telegram-picker](https://user-images.githubusercontent.com/26650501/37504375-1680df14-2908-11e8-894e-2f2d502fbebe.png)
something like this

[2018-03-16 05:16] dantman commented on #69
@javascriptmiracle Check out the sample code in #84

[2018-03-18 01:18] piranna commented on #84
On https://github.com/QuantumBA/react-native-document-picker/tree/v3_camera I'm adding support for camera, video and audio capture for Android, and a work colleague is doing something similar for iOS too.

[2018-03-18 09:56] matsatit commented on #96
the same issue, ...

[2018-03-18 14:17] sentry0 commented on #96
While not a solution per si I worked around the issue by allow the app to load any file and then check the mime type after.

`
if ((Platform.OS === 'ios' && result.fileName.endsWith('.XML')) ||
    (result.type === 'text/xml' || result.type === 'application/xml')) {
    // Read the file in...it's good
} else {
    // show the user a message about an invalid file type
}
`

[2018-03-21 14:11] MyGuySi commented on #69
@dantman I know it's already been asked but would you say the v3 branch is stable enough to use right now? Some of your improvements would really help, particularly handling the cancel action

[2018-03-21 19:02] dantman commented on #69
@MyGuySi Yes, it was working fine when I wrote it. And the v2 code was so problematic any bugfixes should go straight to v3.

[2018-03-23 11:34] hery commented on #85
Why isn't this documented? As an iOS developer implementing some native Android features in an hybrid RN app with *very* little Android experience, I feel like this could be useful there.

[2018-03-27 03:10] tuannguyenhoangit opened #101 "URL is needed"
My play Sound lib require real path (/storage/emulated/0/appiwell/music/abc.mp3) but Document picker return content://com.android.providers.media.documents/document/audio%3A11649 and I am being blocked here.

[2018-03-27 05:48] dantman commented on #101
Duplicate of #70

Android's DocumentPicker rightly returns a DocumentProvider URI, not a file, since it is not your file. If you absolutely need a file, you'll have to fetch the data and save it to one of the folders your app has access to (some data folder, or cache/temp forlder). [RNFS](https://github.com/itinance/react-native-fs) may be useful for the latter part of deciding where to save it an

[2018-03-27 05:48] #101 closed

[2018-03-27 05:51] dantman commented on #70
React Native 0.54.0 has finally been released with Blob support, you don't need any RNFS hacks. Now all we have to do is come up with some documentation on how to use it.

[2018-03-27 10:18] #68 closed

[2018-03-27 18:57] Mate38 opened #102 "How do I access the photos?"
### How to access the photos through the document picker?

[2018-03-28 08:34] kntryer commented on #94
this picker is not display , why?

![Uploading image.png…]()

[2018-03-31 18:35] yashojha19 commented on #102
[code]

[2018-03-31 19:25] enisinanaj commented on #75
I'm having this issue but I'm using CRNA not react native. Do I still need to do all the linking part ?

[2018-03-31 19:40] dantman commented on #75
CRNA doesn't magically make is so you don't have to link anything. All packages with native code need to be linked in order to work.

[2018-03-31 20:57] enisinanaj commented on #75
yeah I saw I should eject my CRNA in order to use components with native code.

[2018-04-02 12:15] GrishmaM commented on #94
@agates4 followed all the steps u specified but facing the below issues while IOS build

duplicate symbol _OBJC_IVAR_$_RNDocumentPicker.composeViews
duplicate symbol _OBJC_IVAR_$_RNDocumentPicker.composeCallbacks
duplicate symbol _OBJC_CLASS_$_RNDocumentPicker
duplicate symbol _OBJC_METACLASS_$_RNDocumentPicker
duplicate symbol _OBJC_IVAR_$_RNDocumentPicker._bridge
ld: 5 duplicate symbols for arch

[2018-04-03 05:00] agates4 commented on #94
@GrishmaM if you're getting that error, add this to your Podfile (in the iOS folder). This should be added to your target scheme

[code]

Then, in the command prompt use the command `pod deintegrate` and after it is completed, do `pod install`

That should solve it!

[2018-04-05 06:37] AgNm commented on #70
@dantman can you please let me know how can we use it? Any document for same? I am using below version:

"react": "16.3.0-rc.0"
"react-native": "0.54.3"

[2018-04-05 06:50] dantman commented on #70
@AgNm Lookup the how to use [`fetch()`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API). Fetch the `content://` URL you get back from the document provider like you would any other URL. You should be able to get a Blob instance for the Body. The data for this Blob will be kept on the Native side of react. From there you should be able to use the normal web APIs for Blob instances (ther

[2018-04-05 09:32] AgNm commented on #70
@dantman
I am using below code:

const data = new FormData();
                data.append('name', file.fileName); // you can append anyone.

                data.append('photo', {
                uri: uri_path,
                type: 'image/jpeg', // or photo.type
                name: file.fileName
                });
                fetch(`${API.imageUpload}`, {
                method: 'post',

[2018-04-12 06:27] sritharanrbt commented on #83
is new version released ??

[2018-04-12 07:25] dantman commented on #83
No, not yet. Follow #69, and if you want try using the v3 branch of the repo.

[2018-04-19 12:51] rogerarce commented on #73
@mlukasch Thanks this actually works!

[2018-04-24 02:39] jaeyow opened #104 "[iOS] Multiple operations of DocumentPicker.show makes the app unresponsive"
On iOS, when I upload one file, it is fine. But when I do this procedure say 5 times, my app becomes unresponsive. Is this is known issue? Or any workaround?

Thanks,

[2018-04-24 02:44] jaeyow opened #105 "[Android] PDF files are grayed out"
Even though the filetype has been set to 'application/pdf', pdf files are grayed out so that they cannot be selected.

[2018-04-24 12:35] kashifaliquazi commented on #48
hi @oliviachang29 , @bsonntag   I am facing the same problem, I followed manual linking, but the code is not working as expected

[2018-04-24 12:50] kashifaliquazi opened #106 "getting in "undefined is not an object (evaluating '_reactNativeDocumentPicker.DocumentPicker.show') " in IOS"
react-native link was not working so I manually linked the module by following steps

1. Added RNDocumentPicker.xcodeproj to the library
2. Added  libRNDocumentPicker.a to Build Phases -> Link Binary With Libraries

Here is my Code:
import React, { Component } from 'react';
import {AppRegistry,StyleSheet,Button,View} from 'react-native';

import { DocumentPicker, DocumentPickerUtil } from 'react-n

[2018-04-24 13:46] jaeyow commented on #106
I had issues of the app crashing before, and it was because I did not add iCloud entitlements as described in readme.

[2018-04-25 15:46] regulus33 commented on #70
I'm not sure this is entirely true. Content uris are workable through many built in aspects of react native as(as of 0.53 anyway). For instance: CameraRoll.getPhotos() will return a collection of objects with content:// uris that are accessible and renderable from within React Native's Image component.

There is also no need to fetch this file locally and convert it to a blob before uploading. You

[2018-04-26 10:37] hery opened #107 "Improper async/await Implementation in v3?"
Following the v3 README:

[code]

Which gives me `await is a reserved word`.

I looked at the source, and unless I'm missing something `pick` seems to be indeed implemented with `then` rather than `async/await`.

[code]

[2018-04-26 17:18] dantman commented on #107
`await` is only valid inside of an `async function`. Please read up on how `async`/`await` works:

Here's a random tutorial https://tutorialzine.com/2017/07/javascript-async-await-explained

[2018-04-27 12:11] repapa opened #108 "How to use the v3?"
Hi @dantman ,

Sorry if this is a newbie question but can you inform me how to use the react-native-document-picker v3?

I've tried installing it using "npm i --save https://github.com/Elyx0/react-native-document-picker.git#v3" but upon implementing it when a button is clicked it shows the message below:

![image](https://user-images.githubusercontent.com/19182530/39361916-0bdbb438-4a57-11e8-9485-

[2018-04-27 15:49] dantman commented on #108
Change your import line:
[code]

Your `DocumentPicker` variable is undefined, so you're getting an error thrown which then turns into a different error because you end up calling `isCancel` on undefined.

[2018-04-29 02:05] repapa commented on #108
I see. I miss that part. Thank you very much @dantman

[2018-04-29 02:06] #108 closed

[2018-04-29 02:33] repapa opened #109 "V3 select multiple files"
Hi @dantman,

Good day!

I'm using the "DocumentPicker.pickMultiple" but opon going to the native file opener, I cannot select multiple files. When I select a file, it already goes back to my Attachment Screen and there is no option to Select(like a checkbox). Kindly inform me the correct implementation for this.

Below is my code:
![image](https://user-images.githubusercontent.com/19182530/394026

[2018-04-29 05:40] dantman commented on #109
Try long pressing on one of the files. Also, what version of Android are you running?

[2018-04-30 03:55] jaeyow commented on #105
Looking at the source, this looks to have been fixed in the v3 branch.

In the current version, only the first item in the filetypes array is honoured by Android. In my case, I wanted to allow 1) images, 2) word documents, 3) pdf documents.

So this meant I could only select images, as the rest of the types are grayed out.

In the v3 branch, this looks like this has been fixed. I just haven't trie

[2018-04-30 03:55] #105 closed

[2018-04-30 04:34] jaeyow commented on #104
After thorough investigation, we found out that there was nothing wrong with this library. The unresponsiveness was caused by our QA build configuration which includes Calabash for enabling UI automation for iOS devices.

Creating another iOS configuration that doesn't include Calabash fixed the problem.

[2018-04-30 04:34] #104 closed

[2018-04-30 05:33] jaeyow commented on #70
@regulus33 this is absolutely correct, using a properly formatted FormData object as shown above will upload the file, without needing to convert the uri to a blob.

All React Native needs in the data.append call is the 2nd parameter with a `uri` attribute. See this comment from React Native [FormData code](https://github.com/facebook/react-native/blob/master/Libraries/Network/FormData.js) :

[cod

[2018-05-01 05:14] repapa commented on #109
Thanks @dantman  long pressing the files worked. In my mind I thought there should be a "Select" like in IPhone. I'm running on Android 6 (Marshmallow) in my emulator.

Additionally, I also need to view the file that was attached. I used react-native-doc viewer and it requires the file in a URL form but v3 returns a URI (""uri": "content://com.android.externalstorage.documents/document/primary%3AI

[2018-05-01 05:17] dantman commented on #109
You may be able to `fetch()` the URI to get a Blob (now that RN has added support for the web standard Blob API) and use `react-native-fs` to copy the document to a local file.

[2018-05-01 08:42] repapa commented on #109
I was able to get the absolute path of the file using react-native-get-absolute-file and use the path response to react-native-file-viewer to open the file.

It was successful opening file types with .txt and .jpg but fails on .docx, .pdf and .PPTX. For that I added an issue on their github page. Have you tried a library that can open any file types by passing the absolute file path in local? e.g.

[2018-05-03 03:12] repapa commented on #109
I was able to open any type of files using a library "react-native-file-viewer". Although it requires the mobile to have an app that can open the file like WPS Office.

[2018-05-03 03:12] #109 closed

[2018-05-03 15:31] petrkrizek commented on #102
Not working on iOS at all :(

[2018-05-03 18:28] honorcode93 opened #110 "Make file copied from iCloud persist after a single usage"
I'm currently letting the user pick a PDF document from their phone and then sending it to the backend using FormData. When the user selects a document from the iCloud storage it copies the file to a temporary folder and the upload proceeds as intended, but fails if I were to make a second request.

My guess is that the temporary file is immediately removed after being sent **once** with FormData.

[2018-05-03 18:32] dantman commented on #110
If upload with FormData is responsible for deleting the file, then react-native-document-picker isn't involved, all it is responsible for is giving you a url to the file that was picked.

You'll have to ask someone in the react-native repo if there is a way to turn off the delete on upload behaviour. If that does not work, then on iOS you may want to use `react-native-fs` to copy the file you are

[2018-05-03 18:34] honorcode93 commented on #110
@dantman Thanks for clearing it out. I'll give it a try with `react-native-fs`.

[2018-05-07 13:11] hamurabiaraujo commented on #48
@kashifaliquazi, I solved doing the manual linking and running the `react-native run-android` to rebuild the app. For me, solved!

[2018-05-08 08:44] Muran-Hu commented on #71
How to display "Dropbox", "Documents" and "Google Drive" under Locations? During my test, only "iCloud Drive" is shown.

[2018-05-08 08:53] Muran-Hu opened #113 "How to display "Dropbox", "Google Drive" and "Documents"?"
In my test, only "iCloud Drive" is shown under Locations. So how to display "Dropbox", "Google Drive" and "Documents" ?
FYI, I just test on simulator, does it make sense?
![f3c2dd2a-a99c-4129-8f7c-0da3ca9447bc](https://user-images.githubusercontent.com/10492550/39766832-d34f7f36-5317-11e8-89bc-6bb58ec3a46b.png)

[2018-05-08 13:45] regulus33 commented on #70
@jaeyow Great info! When in doubt, scour the source!

[2018-05-08 15:32] Muran-Hu commented on #113
Do I have to install "Dropbox", "Google Drive" apps on my device to make these shown under Locations?

[2018-05-08 16:58] dantman commented on #113
...uh, yes. Of course you have to have an app installed for it to show up. Document providers for 3rd party services are not built into iOS they are provided by apps.

[2018-05-09 01:01] Muran-Hu commented on #113
OK，got it. Thanks very much!

[2018-05-09 06:37] Muran-Hu opened #114 "Do I have to download file first?"
In the file selection page, some files are shown that there is cloud, rather than locally. When choosing these files, do we have to download it to the local first?
![9c3803f3-b48b-4d73-9293-90ff71ff2272](https://user-images.githubusercontent.com/10492550/39799318-73e07904-5396-11e8-8bed-8e07db4f43a0.png)

[2018-05-09 06:40] dantman commented on #114
iOS is supposed to handle this.

[2018-05-10 02:17] Muran-Hu commented on #113
In the real device, the menus was shown at the left-top corner. Is there any way to locate it at the bottom & center-horizontal of the screen? TIA
![img_0358](https://user-images.githubusercontent.com/10492550/39848745-4e40a80e-543b-11e8-9e1b-88329117528e.PNG)

[2018-05-10 02:25] Muran-Hu commented on #113
It should be v2, "react-native-document-picker" : "^2.1.0", right?

[2018-05-10 02:25] Muran-Hu commented on #59
OK, let me try. Thanks

[2018-05-10 02:26] dantman commented on #113
The menu will be removed in the next version.

For v2 see the iPad portion of the example in the README:
https://github.com/Elyx0/react-native-document-picker#example

[2018-05-10 02:26] #113 closed

[2018-05-10 03:09] Muran-Hu commented on #59
How to install v3, i just tried "npm i --save react-native-document-picker@3.0.0", but it does't work for me?
Error info as below:

[2018-05-10 03:11] repapa commented on #59
@Muran-Hu this is how I install v3 "npm i --save https://github.com/Elyx0/react-native-document-picker.git#v3"

[2018-05-12 06:41] behera786 opened #115 "Exception 'Application initializing document picker is missing the iCloud entitlement"
Hi
i am getting this exception on ios.
  Exception 'Application initializing document picker is missing the iCloud entitlement. Is com.apple.developer.icloud-container-identifiers set?' was thrown while invoking show on target RNDocumentPicker with params (
        {
        filetype =         (
            "com.adobe.pdf"
        );
    },
is there anyway to disable icloud entitlements as i do no

[2018-05-12 06:58] dantman commented on #115
No. iCloud entitlements are required for the Document Picker to work on iOS. And where the documents come from are up to iOS and the user.

[2018-05-12 06:58] #115 closed

[2018-05-13 03:53] behera786 commented on #115
As per requirements,I have to read documents only from phones memory.

[2018-05-13 03:57] dantman commented on #115
When you use a native document picker you don't get to choose what the source is, so you're going to have to come up with some other solution or drop that requirement.

[2018-05-16 07:12] vonovak commented on #69
how are we on the v3 release @dantman @Elyx0 ? What is blocking it?

[2018-05-16 07:38] dantman commented on #69
- New screenshot
- RNFS documentation in the Readme needs to be replaced with an explanation on how to use fetch/blob/FormData/etc
- People need to actually test it out so we know it works

[2018-05-16 07:50] piranna commented on #69
In my company we have extended `react-native-document-picker` to add option to pick images from the camera both for Android and iOS, and maybe we would extend it to also pick videos and audios, at least for Android. Web platform already does it in mobile due to how the `input` tag works (nobody has implemented this in desktop, I'm thinking if I should do a polyfill...) but didn't add this feature

[2018-05-16 08:02] mjmasn commented on #69
@dantman can confirm v3 is working for us in production. Only issue I've come across is the one described in [my comment above](https://github.com/Elyx0/react-native-document-picker/issues/69#issuecomment-363707167).

[2018-05-18 09:50] ayushnawani commented on #51
same issue

[2018-05-18 16:29] dantman commented on #69
@piranna That depends on how you've "extended" the picker.

[2018-05-19 09:15] piranna commented on #69
The changes are available at https://github.com/QuantumBA/react-native-document-picker/commits/example_re-start. The way is done is transparent to the user, by checking the requested mime type and if it's `*/*` or `image/*` it shows a selector that allow both the file selector or the camera, and for picking the camera image is using the future-proof FileSelector API. I've added a new `private` fla

[2018-05-19 09:20] piranna commented on #69
Another thing I was thinking too, since now the generation of the Intent is more complex and mostly agnostic of the app, is to move it to its own class so code gets cleaner, by separating the DocumentPickerModule from the Intent generation, how do you see it?

[2018-05-20 17:14] smithaitufe commented on #108
Please how do I resolve the content uri to return actual address?

[2018-05-20 17:31] smithaitufe commented on #70
What I am looking for is not uploading to a server. I want to be able to access the actual or real path that this library provides. Please is it possible to achieve this without first uploading to a remote server?

[2018-05-20 17:34] dantman commented on #108
@smithaitufe If you want to upload it, the url can be used directly with FormData. If you want to look at the data, you can `fetch()` the URI and use the [`Blob` API](https://developer.mozilla.org/en-US/docs/Web/API/Blob) to interact with the data.

[2018-05-20 17:38] dantman commented on #70
@smithaitufe You cannot access the real path, the real path does not belong to your app on either OS. (On iOS you get a local copy, not the real path; On Android you get a content URI to access it through the document provider)

If you want to read the the data, you can `fetch()` the URI and use the [`Blob` API](https://developer.mozilla.org/en-US/docs/Web/API/Blob) to interact with the data.

[2018-05-23 15:47] amirmatin opened #117 "Open specific folder"
Hi,
Is there any way to open a specific folder for example ---> internal storage -> my documents ?

Thanks

[2018-05-23 16:28] dantman commented on #117
No.

[2018-05-23 16:28] #117 closed

[2018-05-24 17:17] rochapablo commented on #68
I still getting `ENOENT: no such file or directory`.

[code]

[code]

Anyone?

[2018-05-24 17:30] dantman commented on #68
@rochapablo As explained before, the uri returned by Android is **not a file** and hence cannot be opened by react-native-fs. `fetch()` it and use the Blob API to look at the data instead. Or use the url directly with FormData if you are uploading it.

[2018-05-24 21:30] dantman opened #119 "Check size return value when picking files larger than 2GB"
In v3 we use `cursor.getInt(sizeIndex)` to get the size of the file. However the maximum addressable size for an `int` is `2,147,483,647 ` i.e. 2GB. The Android documentation suggests that the underlying type of this column is an `int`, however we should double check this. We should check what the result of trying to pick a 4GB+ file is and check if switching to a `long` instead of an `int` makes

[2018-05-25 06:49] khushboogupta1 commented on #115
i am facing same problem, Please help

[2018-05-25 06:50] dantman commented on #115
@khushboogupta1 The readme has a screenshot showing how to enable iCloud entitlements.

https://github.com/Elyx0/react-native-document-picker#reminder

[2018-05-25 06:55] khushboogupta1 commented on #115
@dantman   I am attaching a screenshot where icloud is not an option in my settings.

![screen shot 2018-05-25 at 12 23 26 pm](https://user-images.githubusercontent.com/16782546/40530484-9ed59806-6016-11e8-9ee7-8a4b864bc878.png)

[2018-05-25 07:00] dantman commented on #115
@khushboogupta1 Have you signed up for the developer program and setup XCode to use that team so you can publish the app? i.e. You're not using a "Personal" team?

[2018-05-25 07:07] dantman commented on #115
@khushboogupta1 You cannot setup iCloud entitlements on a personal team. You need an actual account with the developer program in order to use the iOS document picker.

[2018-05-28 11:40] rf1804 opened #121 "Dropbox Google Drive option"
Does it show dropbox google drive option by default or something has to be done for that as in ios only browse option is coming for me and in android it opens file manager.
I did not find the options as shown in pic of repo.

[2018-05-28 16:50] dantman commented on #121
Document providers on both platforms are based on the apps the user has installed.

[2018-05-28 16:50] #121 closed

[2018-05-31 02:20] rosc0 opened #122 "Allowing gpx files on Android"
I am trying to allow only GPX files in the document picker, and by using 'application/gpx+xml' as the allowed file types the GPX files are not greyed out.
Strangely enough if I go to google drive GPX files are selectable but not GPX files on the device itself.

I can select the files no problem if I use `'*/*'` as the file type so its not a permissions issue.

Anyone have any ideas?

[2018-05-31 02:48] dantman commented on #122
This is probably a platform limitation we can't get around. My guess is that the local filesystem is file extension based instead of mime based and there just isn't a local mapping of GPX files to the mime type.

[2018-06-01 06:02] jkunwar commented on #70
@dantman can you please provide an example for file upload.
i am using axios

[2018-06-01 06:13] dantman commented on #70
@jkunwar I haven't had a chance to use it in practice yet so I don't have an example. However I have confirmed that fetching a content:// URI from a picker worked. And others have mentioned that you can use content URIs directly with `FormData` instead of first fetching the URI to get a Blob.

Blob and FormData are standardized browser APIs, examples specific to the picker shouldn't be required.

[2018-06-01 06:28] jkunwar commented on #70
//choose file using document picker
------------
async chooseFile() {
        try {
            const res = await DocumentPicker.pick({
                type: [DocumentPicker.types.allFiles],
            });
            this.setState({ file: res });
        } catch (err) {
            if (DocumentPicker.isCancel(err)) {
                 console.log(err)
            } else {
                throw er

[2018-06-01 06:37] dantman commented on #70
@jkunwar I haven't used the FormData+uri mode yet, other people mentioned it, so I can't really help at the moment.

[2018-06-01 06:40] jkunwar commented on #70
@dantman thanks for the response

[2018-06-01 10:01] jaeyow commented on #70
@jkunwar what type of errors are you seeing?

[2018-06-01 10:09] jaeyow commented on #70
@jkunwar I haven't tried with axios + FormData, but I know this works with fetch + FormData. See this issue with React Native + axios + FormData (https://github.com/axios/axios/issues/1321), and I am not sure if this is still an issue, and might be what you are seeing there..

[2018-06-05 05:50] Muran-Hu opened #123 "How to display in Android?"
Using below code to display document picker

    DocumentPicker.show({
      filetype: [DocumentPickerUtil.allFiles()],
    }, (error, files) => {
      this.props.handleCommentFileSave(_.isArray(files) ? files : [files])
    })
  }

it's working well in iOS, but in android device, it just show the android file manager, as below:
![qq20180605-0](https://user-images.githubusercontent.com/10492550/4

[2018-06-05 06:02] Muran-Hu commented on #122
Could you please take a look at: [https://github.com/Elyx0/react-native-document-picker/issues/123](url)
TIA

[2018-06-05 09:42] Fargard commented on #102
Same here can't access to local photos on iOS. iCloud Drive and Recently Deleted available only.

[2018-06-05 16:41] rochapablo commented on #102
Using `filetype: [DocumentPickerUtil.allFiles()]` but still getting only **iCloud Drive** and **Recently Deleted** too.

[2018-06-06 08:43] yashojha19 commented on #102
have you given proper certificates to your IOS app

[2018-06-06 09:49] Fargard opened #124 "Getting network error trying to upload copy of file."
Hi there!
i'm not sure that this is a bug or i'm doing something wrong.

I got a Network Error (Could not retrieve file for uri content://com.android.providers.downloads.documents/document/31) when i trying to upload copy of file.

First of all here is my code:
[code]

it's generate FormData with content:
[code]

i'm using axios to make request:
[code]

First I download PDF file to android simulat

[2018-06-06 11:06] rochapablo commented on #102
Besides [this](https://github.com/Elyx0/react-native-document-picker#reminder)? Maybe not, let me see...

[2018-06-06 12:19] Fargard commented on #124
Update.

Trying use fetch() instead axios:
[code]

Same error.
`'error', [TypeError: Network request failed]`

And again it's happen only on android and only with files which have duplicates.

[2018-06-06 15:39] rochapablo commented on #102
Working with v3 still the same, listing only the `iCloud Drive`

`"react-native-document-picker": "git://github.com/Elyx0/react-native-document-picker.git#v3",`

[code]

[2018-06-07 15:13] Fargard commented on #124
I figured out what was wrong. Problem was with emulator :)
Today i was trying to get a real path to files with RNGRP and i notice that one of file has wrong name.
I assume that emulator have some issues with duplicates or i am set something wrong in emulator preferences. All working fine on real devices.

That was really confusing experience :)

[2018-06-07 15:13] #124 closed

[2018-06-07 15:51] heitorpr commented on #69
thx for quick answer but didnt work too...

item.uri = content://com.android.providers.downloads.documents/document/raw:/storage/emulated/0/Download/Digitalizar 4 de mai de 2017 11.35.pdf

[code]

[code]

[2018-06-07 16:10] dantman commented on #69
@heitorpr You aren't doing what I suggested. RNFetchBlob.fs.readFile is another filesystem utility just like RNFS. Also RNFetchBlob itself has a broken implementation for handling content:// URIs. And it's not even needed anymore because React Native has native support for the Blob API and fetching content:// URIs.

Please try using `fetch(item.uri).then(res => res.blob())` to fetch the content://

[2018-06-07 19:26] heitorpr commented on #69
@dantman thank you very much for your support, but this problem was a huge mistake I did =). The fetch api help me to find it. It worked too.

To end this subject, the problem was with the URI at all. I was parsing the response of document-picker with: `utf8.decode(unescape(uri))` when I removed it to Android System, the ` RNFS.readFile(item.uri, 'base64')` started working again with  version `2.9

[2018-06-09 09:47] DavitVosk commented on #94
@agates4 Thanks for your great and simple explanation. Just one single note: since in your used version `DocumentPicker` is exported as default, then we should use the following import:

`import DocumentPicker from "react-native-document-picker"`

[2018-06-13 09:50] andonivianez opened #126 "Android not working"
Hi!

I´m triying to get working in RN 0.54.2, but it throws always this exception:

I´ve tried the master branch and also the v3 version, but no luck...
It´s like when I install the module, brokes the entire app...

[2018-06-13 14:59] andonivianez commented on #126
Solved;
I was using an old version of Gradle wrapper, sorry!

[2018-06-13 14:59] #126 closed

[2018-06-14 03:52] kidequinox commented on #13
On iphone8 and above, I needed to

`imafeRef.put(decodeURIComponent(uri), { contentType: mime })`

for it to upload files with spaces in the name.

[2018-06-15 05:09] kaytee319 commented on #126
Can you please tell more about solving this issue ?

[2018-06-15 22:38] roadev opened #128 "unexpected char in content-disposition value: form-data"
Hi!

I'm getting this error when I try to upload a PDF file with a UTF-8 file name (ex: Aceptación.pdf)
I'm using the `'Content-Type': 'application/json;charset=UTF-8'` header in a axios `POST`, but is not working...

Any ideas?

I need to be able to upload PDF files with UTF-8 names because my users speak spanish.

Thanks!

![screenshot from 2018-06-15 17-32-58](https://user-images.githubusercont

[2018-06-15 23:02] dantman commented on #128
This is not an issue with the picker. It's difficult to recommend what to do. You could try url encoding the filename and see if your server supports that. Though that's probably non-standard behaviour.

I see conflicting information on how to handle non-ascii filenames. There is a header extension that allows for providing an encoded version of headers. However I see other notes that this should

[2018-06-15 23:02] #128 closed

[2018-06-16 11:48] ivanherve commented on #73
@mlukasch How do you send a file with other data ? (like publication date, etc.)

[2018-06-16 12:10] ivanherve commented on #106
Hi, as i'm working on Windows and i am testing on an Android emulator and, with Expo, on an iOS device,
I have the same problem as @kashifaliquazi on my iOS.
I've executed `react-native link` and I had this message:
![image](https://user-images.githubusercontent.com/23102351/41498417-7cbf25da-716d-11e8-8523-1b81f46dd4ad.png)
But i still have the same problem when I run the app.
It doesn't work wit

[2018-06-18 13:35] NagaSaiDeepak opened #129 "how to show customized file types"
I want to show only pdf and word documents in doucument picker,But i found that we are able to show either pdf or all type of files instead of allowing customized file types.

is there any way to show only few multiple extensions at one time like .pdf ,.docx,.txt rather than DocumentPickerUtil.allFiles().

[2018-06-18 13:38] dantman commented on #129
`[DocumentPickerUtil.pdf(), DocumentPickerUtil.plainText()]` You'll need to define a mime type/UTI yourself since DocumentPickerUtil doesn't have a helper for `.docx`.

[2018-06-18 13:38] #129 closed

[2018-06-19 08:36] andonivianez opened #130 "iOS wrong URI"
Hi,

I was having problems getting the file from de URI provided by react-native-document-picker, and I solved removing "file:" from de uri:

I fixed it doing this:
`uri.replace('file:', '')`

I think it should be fixed in next versions by passing the correct URI to the React Native frontend.

Thanks for your work, despite this issue, it works like a charm ;)

[2018-06-19 09:57] khrizt commented on #41
I still have encountered this issue on my app and I've made a PR to solve this problem https://github.com/Elyx0/react-native-document-picker/pull/131

[2018-06-19 12:13] NagaSaiDeepak commented on #129
yeah i got that, but how to use both [DocumentPickerUtil.pdf(), DocumentPickerUtil.plainText()] at a time instead of DocumentPickerUtil.allFiles()], Because by using DocumentPickerUtil.allFiles()] it showing all type of files but i only need pdf and plain text.

[2018-06-19 16:58] dantman commented on #129
Exactly as I did, you pass them in an array.

[2018-06-20 08:01] NagaSaiDeepak commented on #129
Yeah i passed it in array as you said but it only taking the first element in the array i.e., in [DocumentPickerUtil.pdf(), DocumentPickerUtil.plainText()] it only showing .pdf files but not both pdf and txt.
Then i checked the code in DocumentPicker.java file and i think that only the first element of the array is consider.
 if (!args.isNull("filetype")) {
            ReadableArray filetypes = ar

[2018-06-20 08:02] dantman commented on #129
Oh right, that was a v2 bug. Try switching to the v3 branch of the repo.

[2018-06-20 14:24] shubhnik opened #133 "Different uri when selected directly from download panel and when selected from download folder from phone."
![screenshot_20180620-194502](https://user-images.githubusercontent.com/9150371/41664085-882211a0-74c2-11e8-9d1c-9327adc9ae10.jpg)
* #### When I select a file from Downloads straight from the drawer then I get this uri:
`content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2FBittrexv1.csv`
* #### But when I select file from `OnePlus 5T/Downloads`

[2018-06-22 05:33] Josh2941 opened #134 "No event callback for Cancel press action in iOS."
There is no callback or response for Cancel action in iOS. I am not able to perform any operation on Cancel press which makes my app buggy. Please resolve it.

Expected Output:
- A callback or response for Cancel press.

Actual Output:
- No response or callback available for Cancel press.

[2018-06-22 05:54] dantman commented on #134
This has been fixed in v3.

[2018-06-22 05:54] #134 closed

[2018-07-03 11:08] suv0 commented on #43
This should help : [something to do with the command tool you are using](https://stackoverflow.com/questions/43284312/react-native-apk-build-failure-unable-to-process-incoming-event-progresscomplet/50828850#50828850)

[2018-07-05 12:13] ashanjayasundara opened #135 "IOS Document Picker is not working"
i am getting following issue in ios
`undefined is not an object (evaluating '_reactNativeDocumentPicker.DocumentPicker.show ' )`

![image](https://user-images.githubusercontent.com/16848987/42322668-f72665c4-807a-11e8-831a-eb228a58a901.png)

[2018-07-05 17:13] dantman commented on #135
You have not linked the native code.

[2018-07-05 17:13] #135 closed

[2018-07-07 18:56] neerajpathak77 opened #136 "How to restrict some specific file types"
Hi,
I need to allow user to pick all files expect audio file and pdf file. rest all should be allowed. Is there any way to achieve this.
Thnaks in advace!!!!!

[2018-07-07 19:00] dantman commented on #136
No, the operating systems don't offer functionality like this. You'll either have to whitelist all the file types you do want them to pick. Or let them pick anything and reject the file afterwards if you see it is an audio/pdf.

[2018-07-07 19:00] #136 closed

[2018-07-09 13:15] Preethyp commented on #70
I've used RNFS to read file from content uri, but its returning encoded content. I want to send data to rails as multipart with axios. Suggest me to get file content from content uri without encoding.

[2018-07-09 18:55] antonsivogrivov commented on #69
@piranna and others, I have some miss-understanding. I need to implement photo, video and file picker in my app like in WhatsApp (I need only photo&video and Document options):
![image](https://user-images.githubusercontent.com/8429960/42470269-9e45fd34-83c2-11e8-8e24-a80d631831c0.png)
Can I do this with v3 branch or I should use https://github.com/QuantumBA/react-native-document-picker fork?

[2018-07-10 06:46] pruthvirajkarur commented on #106
Even i am facing the same issue. It was tested and working  suddenly its not working now.

[2018-07-13 16:45] piranna commented on #69
My fork currently only add support for camera pictures, I'm working on audio and camera video.

[2018-07-13 17:23] piranna commented on #69
I have done several pull-requests using cherry-pick for the different features, so they can be easily reviewed and merged upstream:

- [`web` platform](https://github.com/Elyx0/react-native-document-picker/pull/99)
- [example project](https://github.com/Elyx0/react-native-document-picker/pull/139)
- [Camera for Android](https://github.com/Elyx0/react-native-document-picker/pull/140)
- [Camera for

[2018-07-16 13:49] rochapablo commented on #102
Any news about this?

[2018-07-16 19:08] rochapablo commented on #130
Could [this](https://github.com/joltup/rn-fetch-blob/issues/116) be related?, still I tried `uri.replace` but it still cant find the image.

```/var/mobile/Containers/Data/Application/F33012B6-9DC5-43B6-A5EA-AABEC208CD52/Documents/blueberry.jpeg```

[2018-07-17 12:17] rochapablo commented on #102
@dantman sorry to bother, but do you know how to deal with this issue?

[2018-07-17 12:30] rochapablo commented on #102
https://github.com/Elyx0/react-native-document-picker/issues/72
https://github.com/Elyx0/react-native-document-picker/issues/113
https://github.com/Elyx0/react-native-document-picker/issues/117

[2018-07-17 12:32] rochapablo commented on #51
Anyone?

[2018-07-17 17:49] dantman commented on #102
@rochapablo Photos aren't my target right now, and I'm working on another project for now (why I wasn't able to publish v3). But if photos were my target and both iOS and Android offered photos through a different api than the document picker, then I would use a different library to interact with that part of the OS API. I would not expect the library that is just supposed to be a wrapper around t

[2018-07-18 14:41] piranna opened #143 "Add `video` MIME types"
https://github.com/Elyx0/react-native-document-picker/blob/e4c03667a87ffba54832563b11e00c6e5dd183e0/index.js#L62

In the list of available types there's no option for video. Seems in `master` there's support for that, is there any reason why it isn't for `v3`?

[2018-07-18 15:19] chara92 opened #144 "not showing alert on callback (Android)"
the api is working ok, all fine but for any reason on Android when i receive the callback on first time trigger the Alert.alert(); on Android and the next time not trigger more .
I receive all response of api all its ok but not trigger the alerts inside the callback.

[2018-07-20 10:05] piranna commented on #143
Available in `master`, clossing.

[2018-07-20 10:05] #143 closed

[2018-07-20 14:58] JeremyBradshaw7 commented on #78
Crashing for me too but on app startup (iOS), I did the iCloud step.

[2018-07-21 10:37] JeremyBradshaw7 commented on #71
Same as Muran-Hu, only iCloud documents can be selected via v3 on ios11 (not checked <=ios10 yet). Any way to get the other options? In particular I need the user to be able to select a local file from the device.

[2018-07-23 09:40] bhatti-waqas opened #146 "PDF files are not selectable in android"
I have given types of document to that picker will shown to be images and pdf. But pdf files aren't selectable in android
here is my code which defines types.
`DocumentPicker.show({
      filetype: [DocumentPickerUtil.images(), DocumentPickerUtil.pdf()],
    }...............`

I noticed that if I put 'DocumentPickerUtil.pdf()' first then it select pdf files. if I put 'DocumentPickerUtil.images()'

[2018-07-23 10:19] dantman commented on #146
See #50 and #105.

[2018-07-23 10:19] #146 closed

[2018-07-23 12:41] JeremyBradshaw7 opened #147 "Module RNDocumentPicker requires main queue setup since it overrides 'init' but doesn't implement 'requiresMainQueueSetup'."
Getting this warning on dev app startup with v3, after following advice in https://github.com/Elyx0/react-native-document-picker/issues/94. Not sure if it's the same with v2.

RN 0.55.2

[2018-07-27 04:03] adiadha opened #148 "Cannot resolve symbol 'io' - import io.github.elyx0.reactnativedocumentpicker.DocumentPickerPackage;"
I tried to import the package but there is an error
import io.github.elyx0.reactnativedocumentpicker.DocumentPickerPackage;

![capture](https://user-images.githubusercontent.com/41769554/43300982-ee9dd1c8-9194-11e8-9a2e-3c3bc33f5cb7.PNG)

I want to use the v3

[2018-08-02 15:57] keribend opened #150 "Multiple filetype"
I wish to make a document picker that let the user choose only between images or pdf files.

This snippet is from the example:

[code]

I tried this:

[code]

But the document picker will then list only those files matching the first type in `filetype`.

[2018-08-02 18:25] dantman commented on #150
See #50 and #105.

[2018-08-02 18:25] #150 closed

[2018-08-09 15:59] ethanx94 commented on #4
Just checking, you said you had it working on your fork. Is there a way to pick directories now?

[2018-08-10 03:41] CptMaumau commented on #69
Hi, we've encountered an issue with 3.0.
When selecting from the SD Card, the path has an issue. Up to the sd card it is fine but once the path reach inside the slash are encoded and after decoding they actually are `:` and we are getting a permission denied.
Example:
- before decoding: `content://com.android.externalstorage.documents/document/0FF1-3314%3Ah20_workshop_proposal.hwp`
- after decodin

[2018-08-10 05:25] dantman commented on #69
@CptMaumau

- How are you reading the file?
- React Native Document picker v3 just returns the URI that is provided to use by Android. Does that content: URI not work when resolved with the ContentResolver?
- `:` is a reserved character, it's not really unexpected for a provider to decide to encode it's usage in filenames
- The [external storage provider](https://android.googlesource.com/platform/

[2018-08-10 05:31] CptMaumau commented on #69
Using RNFS because we're still on RN 0.53

[2018-08-10 06:08] dantman commented on #69
Then that's the issue, file system libraries should not be used to open URIs.

[2018-08-10 06:13] CptMaumau commented on #69
Issue actually came from the fact we were decoding the Uri, we had to for iOS because of special characters in filename but decoding the uri seems to break in android when there's a specific path like this. So only decoding in iOS fixed the problem.
Thank you for you help and time.

[2018-08-10 06:34] piranna commented on #69
Could you be able to provide the details? Probably DocumentPicker should do the decoding on iOS itself too...

[2018-08-10 06:38] CptMaumau commented on #69
Sure, I work in a Korean company and when uploading files with Korean characters in the name we run into this problem. But it seems to be an iOS issue only.

[2018-08-10 06:41] piranna commented on #69
Interesting... it should be just a matter of correctly using the Unicode characters, I think Apple HFS filesystem should work with utf-8 flawlessly. Can you provide a code snippet of how have you done the decoding on iOS?

[2018-08-20 17:58] smithaitufe commented on #69
What methods are available with React Native Document Picker v3?
Is there anyway to specify that I want only pictures? only videos? and only audios?

[2018-08-20 20:38] piranna commented on #69
https://github.com/Elyx0/react-native-document-picker/tree/v3

[2018-08-22 07:36] veeran-dev opened #151 "How to upload it using axios"
Hi All,
i am trying to upload document using below method, please tell me whether this right or not.

DocumentPicker.show({
          filetype: [DocumentPickerUtil.allFiles()],
        },(error,res) => {
          console.log(res);
          const { uri, type: mimeType, fileName } = res;

          const formData = new FormData();
          formData.append('file', { uri, type: mimeType, name: file

[2018-08-22 08:01] JeremyBradshaw7 opened #152 "Have to keep re-installing, plus jest warnings"
Occasionally (I haven't tied down the exact circumstances yet) I get compilation errors suggesting this module is not installed, so I have to install it again. It is registered like this in package.json, because I need v3:
`  "react-native-document-picker": "git://github.com/Elyx0/react-native-document-picker.git#v3",`
(I've followed the instructions documented in https://github.com/Elyx0/react-na

[2018-08-22 10:08] amitbravo commented on #134
I do not see any v3 ?

[2018-08-23 01:06] rouge3351 commented on #144
i have same problem, i use v3 brach
i think it's bug in this library.
so, i write temporary code like this
`
setTimeout(()=>{
  Alert.alert('TITLE','CONTNET');
}, 500)
`
it's just temporary code and it should be fix!!

[2018-08-23 20:31] CarlosJJR opened #153 "Different type for iOS and Android"
Awesome library! The only issue I'm having is when I pick certain types of files the picker gives me different types for Android and iOS. For example, picking an .avi file on iOS returns video/avi but Android returns application/octet-stream. Same happens for a .au file. iOS gets the file type just fine but Android returns application/octet-stream

Using react-native 0.51.0 and v3 of react-native-

[2018-08-23 20:36] dantman commented on #153
Ultimately mime type handling is up to the OS and document provider implementations. We can't really change the native mime type mapping.

[2018-08-23 20:48] #153 closed

[2018-08-30 11:16] kalyanijamunkar10 commented on #106
Do anybody  fixed this issue? if yes then please provide solution . i am facing same issue. It work good with android but have an issue with ios simulator

[2018-09-03 14:29] apipemc commented on #96
In `filetype` use `public.text` in IOS or android `.xml, text/xml`

[2018-09-04 18:19] thomasobrien99 commented on #152
I also am seeing this

[2018-09-04 21:54] ggunti commented on #71
Me too. Why only iCloud documents can be selected?

[2018-09-10 06:20] kalyanijamunkar10 opened #154 "How to access local files in ios."
I want to access local files. but it whenever i click on browse option.
![screen shot 2018-09-10 at 11 46 41 am](https://user-images.githubusercontent.com/27677593/45279587-3c7fec00-b4ef-11e8-8b7e-8a5ffeefcab2.png)
It only shows iCloud Drive Location on my simulator.
![screen shot 2018-09-10 at 11 47 38 am](https://user-images.githubusercontent.com/27677593/45279749-ac8e7200-b4ef-11e8-995f-cc18fae

[2018-09-10 06:32] kalyanijamunkar10 commented on #71
I am facing same issue only Icloud option is visible. have you got any solution on this.
![screen shot 2018-09-10 at 11 49 51 am](https://user-images.githubusercontent.com/27677593/45280277-56bac980-b4f1-11e8-90f2-28c3a27d0a29.png)

How can i access the local files ?

[2018-09-11 16:03] iRayzer opened #155 "Promise events never triggered on Android."
I am using the V3 branch and it works perfectly for iOS.
But for android, it opens up the android file picker like it should, but when I pick a file, the promise never resolves (nor catches).

I messed around a bit with the Java code, but since I'm not a Java developper, I can only say that for some reason the onActivityResult method is never triggered.
The other functions are working fine, I mean

[2018-09-11 20:48] iRayzer commented on #155
It was an expo related problem.
onActivityResult doesn't work in an expo environment so I had to modify the code to make it compatible with expo.

[2018-09-11 20:48] #155 closed

[2018-09-12 11:18] 2vm commented on #154
+1 is there any solution?

[2018-09-13 10:44] Bolik commented on #154
+1

[2018-09-20 10:38] ronastlelobo opened #156 "How to get Absolute Path of the file ?"
Hey Guys, I have already resolved this issue for me.  I have posted the solution in this link
[Absolute Path Solution](https://stackoverflow.com/questions/52423067/how-to-get-absolute-path-of-a-file-in-react-native/52551982#52551982)

[code]

Do Test it and reply if it works !

[2018-09-25 01:00] AlexandrDobrovolskiy commented on #156
same issue

[2018-09-25 01:03] dantman commented on #156
You don't, use the URI. The OSes do not provide canonical file paths for document providers and generally do not allow you to access a file outside your control by its canonical file path.

[2018-09-25 16:20] punksta commented on #22
@Elyx0 is there solution for this?

[2018-09-28 09:34] Under-Warz commented on #152
I'm also facing this warning.

[2018-10-04 11:12] d12544 opened #159 "undefined is not an object (evaluating '_reactnative document picker.document picker.show') Android"
![screenshot_1538651436](https://user-images.githubusercontent.com/43203698/46470480-62e62e00-c7f4-11e8-9f74-f167e66b10b5.png)

even after linking. this error shows up in android and ios

DocumentPicker.show({
    filetype: [DocumentPickerUtil.allFiles()],
  },(error,res) => {
    // Android
    console.log(
       res.uri,
       res.type, // mime type
       res.fileName,
       res.fileSize

[2018-10-04 11:42] boerdjamin commented on #159
same problem here

[2018-10-04 12:06] d12544 commented on #159
Please update if you fine any solution or any other path altogether @boerdjamin

[2018-10-04 13:30] d12544 commented on #159
I checked by creating a new project without expo and it works fine. so i guess its not working with expo

[2018-10-05 10:14] #159 closed

[2018-10-08 09:51] dantman commented on #156
@cybercoder react-native-image-crop-picker isn't a simple document picker, it doesn't return the document URI provided by the OS. It copies the image to a local file in a cache folder in your app's data folder, so the cropper can edit the image and return the path to that file instead of giving you the actual document.

[2018-10-08 10:00] cybercoder commented on #156
@dantman Also react-native-image picker has access to absolute path. I'm testing [https://github.com/prscX/react-native-file-selector](react-native-file-selector)

[2018-10-08 11:20] cybercoder commented on #156
So how i can upload it with axios? is it possible?

[2018-10-08 19:00] dantman commented on #156
@cybercoder It should be. I don't know the exact code you should use. Other people have said that using FormData and the URI are enough (search other issues). But even if that doesn't work all that should be necessary is to `fetch(...)` the `content://` URI, this will let you get a `Blob`. And that Blob can be used when uploading.

[2018-10-09 05:02] #156 closed

[2018-10-09 09:59] sakymar commented on #154
+1

[2018-10-09 11:35] kalyanijamunkar10 commented on #154
Please update if you find any solution @2vm @Bolik @sakymar @Elyx0

[2018-10-11 18:09] pinstripe-potatohead commented on #154
I believe it has something to do with the new Files App in iOS 11. Files are now accessed from there, instead of from iCloud Drive

[2018-10-12 09:19] pinstripe-potatohead commented on #154
Does this happen only in the simulator? Does it happen in a real device too?

[2018-10-12 11:32] kalyanijamunkar10 commented on #154
Yes for both devices

[2018-10-15 17:38] aleppos opened #160 "DocumentPickerModule.java:17: error: cannot find symbol"
I am getting the following error when I have upgrade react-native from "0.57.1" to "0.57.3", the version 0.57.2 of react-native doesn't work on Windows because of this I had to skip it.

    "react-native-document-picker": "git+https://github.com/Elyx0/react-native-document-picker.git#v3",

C:\Users\dev\**\node_modules\react-native-document-picker\android\src\main\java\io\github\elyx0\reactnatived

[2018-10-16 03:58] devprakashbinary commented on #147
![screen shot 2018-10-16 at 09 27 46](https://user-images.githubusercontent.com/38106321/46992017-d3ab1580-d125-11e8-984c-fa1619654918.png)
I getting the same error pls some can give the appropriate solution for this[](url)

[2018-10-18 07:55] 2vm commented on #147
Same trouble in RN 0.57.3, how to fix dat, guys?

[2018-10-19 03:44] krisnailafat commented on #154
+1

[2018-10-21 07:57] ShaubertIlya opened #161 "Build failed. react-native-document-picker:verifyReleaseResources exception"
Hello and good day. I've tried to build apk file and it turns to exception

Execution failed for task ':react-native-document-picker:verifyReleaseResources'.

How to fix it?

react-native-cli: 2.0.1
react-native: 0.57.1
react-native-document-picker: 2.1.0

[2018-10-23 18:03] AaronDRS commented on #161
@ShaubertIlya  please update to the last version. I know, there is no nice docs. https://github.com/Elyx0/react-native-document-picker/wiki/V2-to-V3-migration
I hope it helps.

[2018-10-24 10:19] yasir-netlinks opened #162 "Where to add the modification in RNFS's Uploader.m"
Hi there, I am using v3 and Im not sure where to add/modify the piece of code in Uploader.m, looking for help, thanx

[2018-10-24 10:31] #162 closed

[2018-10-25 18:15] Krosh commented on #161
@ShaubertIlya You need to add following code in your project's android/build.gradle:

[code]

I found it on SO, https://stackoverflow.com/questions/52613089/getting-verifyreleaseresources-error-after-upgrading-react-native, it helps me

[2018-11-06 16:42] cidevant commented on #151
@veeran-dev doest it work?

[2018-11-07 10:06] AliUZAR commented on #147
Same here please someone answer this issue or please give an advice for different document pickers ?

package.json =>
    "react": "16.5.2",
    "react-native": "^0.57.3",
    "react-native-document-picker": "git+https://github.com/Elyx0/react-native-document-picker.git#v3",

[2018-11-07 18:00] Elyx0 commented on #79
What's the status here? This is from Feb

[2018-11-09 08:30] webmasterdragon commented on #123
Same here.

[2018-11-12 07:13] cherniv commented on #160
+1

[2018-11-12 07:35] cherniv opened #166 "[v3][android] Build fails"
Android v3 branch build fails:
[code]
Manually changing to `E_UNABLE_TO_OPEN_FILE_TYPE` looks like a fix.

[2018-11-12 17:35] rochapablo commented on #166
+1

[2018-11-13 09:58] ikosar opened #167 "How To Upload File Using Axios?"
Can i use FormData and append to upload this?

[2018-11-13 10:01] ikosar commented on #151
@veeran-dev doest it work?

[2018-11-13 11:59] khrizt commented on #166
There's already a PR for this https://github.com/Elyx0/react-native-document-picker/pull/164

[2018-11-13 16:53] Elyx0 commented on #166
Merged

[2018-11-14 02:03] phil-hodgson-1st commented on #154
I don't think this is possible due to the way the iOS file system is locked down:

https://discussions.apple.com/message/32454580#message32454580

[2018-11-14 07:08] ikosar commented on #167
@phil-hodgson-1st
i'm not use redux , how can upload without redux?

[2018-11-15 06:34] fa16mscs0004 opened #169 "How can i have image and file upload option"
I am having currently only image upload option can't upload pdf
 filetype: [DocumentPickerUtil.images()],

please share sample code if some body has done it..
also i am using fetch to send file to server how to do that with fetch ??

[2018-11-18 20:29] phil-hodgson-1st commented on #167
You should be able to just remove the dispatches and action type/payloads so the `formatData` remains the same. The second function changes to this:

[code]

Just move in your own functions here for success and fail 👍

[2018-11-19 12:29] faizan992 commented on #169
Same issue with me. I want to upload .csv file. How could i do this ?

[2018-11-21 13:51] arundev-kv commented on #134
Any update on releasing V3?

[2018-11-22 20:23] sryze opened #170 "Type field is empty"
I'm trying to upload a file on iOS using react-native-document-picker, but it does not return the MIME type of files in the `type` field. I thought it was supposed to always work because this is mentioned in the README, I'm not sure if it's a bug.

Is it possible to get the file type when choosing files from iCloud Drive?

[2018-11-22 20:50] dantman commented on #170
Are you using v2? This is a known issue in v2 that was fixed in v3.

[2018-11-22 21:48] sryze commented on #170
Yeah, I was using v2. Thanks for the suggestion. I've just installed v3 but I'm getting the same error over and over again, cleaning all build folders didn't help, any idea what's wrong?

[code]

It appears to be the same issue as https://github.com/Elyx0/react-native-document-picker/issues/159 (but in my case iOS instead of Android).

[2018-11-22 22:01] dantman commented on #170
v3 uses .pick, not .show. So that suggests that you aren't actually using the v3 JS at all, that sounds like you still have v2 JS running.

[2018-11-22 22:10] sryze commented on #170
You are right, I didn't read the new README properly. Thanks, it's working now!

[2018-11-22 22:10] #170 closed

[2018-11-22 22:12] sryze commented on #170
May I ask why the menu was removed? As far as I can see in the code `UIDocumentMenuViewController` is no longer used.

[2018-11-22 22:15] dantman commented on #170
`UIDocumentMenuViewController` is deprecated.
https://developer.apple.com/documentation/uikit/uidocumentmenuviewcontroller

iOS 11 added the Files app, and the menu picker is considered to be poor UX.

[2018-11-23 04:16] anagar23 commented on #78
@dantman , what if we don't want to access iCloud ?

[2018-11-23 04:17] dantman commented on #78
@anagar23 Not an option, you get iCloud whether you want it or not. Because the document picker is provided by iOS and is used to pick files from all document providers.

[2018-11-23 13:20] faizan992 commented on #135
I am getting the same issue, even I can linked manually.  @ashanjayasundara  how can you resolve this issue?

[2018-11-28 12:12] faizan992 commented on #106
delete App from phone and install again using 'react-native run-android'

[2018-12-06 21:59] loug38 commented on #169
You can first setup Document picker to allow for PDFs by doing DocumentPickerUtil.pdf() for the filetype. As for sending it to a server via fetch I would say the easiest way would be to base64 encode it so it just becomes a string and send it in your fetch request.

[code]

[2018-12-07 07:18] Sorin-fratila commented on #167
@phil-hodgson-1st Thank you for the example!

What does upload file mean in this case? is it any kind of file (image, pdf) and is upload the uri? or the actual raw data?

[2018-12-07 23:56] sgreco611 opened #172 "Gradle Error: Could not resolve all files for configuration ':react-native-document-picker:classpath'"
When trying to build our application, the below error is being thrown. Our package.json is pointed to the repo (v3), and this error did not occur yesterday when we did the same build.

problem occurred configuring project ':react-native-document-picker'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/common/25.3.3/common-25.3.3.pom
         https:

[2018-12-09 09:40] oferRounds commented on #172
Same here :\

[2018-12-10 16:34] vgm8 commented on #172
I'm facing the same issue, it looks like a general problem see: https://github.com/react-native-community/react-native-image-picker/issues/1002

I hope there is a workaround to fix this

[2018-12-10 16:51] sgreco611 commented on #172
Unfortunately, not yet

[2018-12-10 16:57] vgm8 commented on #172
@sgreco611 @oferRounds I found a workaround until the issue is addressed. Take a look: https://github.com/vgm8/react-native-document-picker/commit/7bdbb13ef60350c4a856cc931fa25b1dd8c48b58

[2018-12-10 22:35] manask88 commented on #172
i've created a PR solving this issue in v3 https://github.com/Elyx0/react-native-document-picker/pull/173 . . Hope it works for you all

[2018-12-11 00:30] sgreco611 commented on #172
The Fix in the PR worked for me. Thank you all for the assistance. Looking forward to the merge.

[2018-12-11 06:59] malashkevich commented on #172
It seems like it's Google-related issue : https://issuetracker.google.com/issues/120759347

[2018-12-11 07:52] Elyx0 commented on #172
Merged

[2018-12-11 08:03] oferRounds commented on #172
Awesome thank you all!

[2018-12-11 08:57] yasir-netlinks commented on #172
Hi there , how can I update!
I did this but still not working
[code]

[2018-12-13 16:55] animeshjn commented on #159
Is there a way to make it work with Expo ?

[2018-12-13 16:58] d12544 commented on #159
You can use expo’s documentpicker

[2018-12-15 22:02] manask88 commented on #172
@yasir-netlinks that looks right to me. Not sure about the syntax though. What i have looks more like this:
    "react-native-document-picker": "git://github.com/instructure/react-native-document-picker.git#v3",
If it doesn't work make sure that you delete node_modules, reinstall npm dependencies, restart the node server and recompile android.

[2018-12-28 01:55] yasir-netlinks opened #174 "Getting unwanted file type"
I am using `v3`
[code]
I still can select other file types (eg. images) when it only should be `pdf` ,`doc` and `docx`. I tested this a while back and it was working fine.
I'm testing on Samsung S9+

[2019-01-16 19:53] alexzobi commented on #75
I encountered this problem in two different ios projects after trying to automatically link. solution both times was to manually link.

[2019-01-16 20:17] leoek commented on #79
I am currently using the v3 in a (react-native-windows) project to give the user an option to pick and upload profile images. I have still some issues which are probably caused by my environment (rn version and other dependecnies) but otherwise i am pretty satisfied with the functionality of this library and I wouldn't want the content of the files in the javascript object.

Having the content in

[2019-01-17 21:38] ishigamii opened #177 "[Android] Crash after installing"
Hi, I was trying to add this nice library to my project just right now and I got some trouble with it on Android (didn't try ios yet). The installation step are pretty simple and clear.

**Configuration:**
[code]

**Installation steps:**

1. yarn add react-native-document-picker
2. react-native link
3. Pod install (though not related cause it's for ios)
4. Launch the app

**My code is simply the e

[2019-01-21 03:15] pedrouid commented on #61
What's the status on this issue? Did it get fixed on Android?

[2019-01-22 04:05] Elyx0 commented on #79
I indeed don't want the full b64 of the contents, closing.

[2019-01-22 04:05] #79 closed

[2019-01-22 04:08] #96 closed

[2019-01-22 04:09] #102 closed

[2019-01-22 04:09] #106 closed

[2019-01-22 04:10] #110 closed

[2019-01-22 04:10] #114 closed

[2019-01-22 04:10] #122 closed

[2019-01-22 04:12] Elyx0 commented on #123
I didn't check in RNDP on android recently, did you figure it out?

[2019-01-22 04:13] Elyx0 commented on #133
Did you figure it out, it's an interesting edge case

[2019-01-22 04:14] #144 closed

[2019-01-22 04:14] Elyx0 commented on #147
Did it get fixed?

[2019-01-22 04:14] #148 closed

[2019-01-22 04:15] #151 closed

[2019-01-22 04:16] #71 closed

[2019-01-22 04:17] #73 closed

[2019-01-22 04:17] #76 closed

[2019-01-22 04:17] #78 closed

[2019-01-22 04:20] #42 closed

[2019-01-22 04:20] #54 closed

[2019-01-22 08:43] piranna commented on #88
Why got this clossed? Will it be monitored in my pull-request?

[2019-01-28 18:33] HadrienPierart commented on #128
In case someone gets stuck on this one like me. Here is a possible workaround (as okhttp is still broken - this works if you dont absolutly need to keep the filename intact for uploading for instance, which is rarely the case.) :

        const fileName = (file.fileName || "document.pdf").replace(/[^\x00-\x7F]/g, "");
        const pdf = { uri: file.uri, type: file.type || "application/pdf", name:

[2019-01-29 10:30] nilaybrahmbhatt opened #178 "how can we install without CocoaPods ?"

[2019-01-30 17:10] tsabitg23 opened #179 "Get error or response when user cancel the file selection"
I need to do some action after user press cancel when opening document picker. Currently canceling doesn't return any error or something. any tips?

[2019-01-30 20:33] Elyx0 commented on #179
Check the v3 branch: https://github.com/Elyx0/react-native-document-picker/issues/134

[2019-02-05 06:21] Biplovkumar opened #181 "Manually Linking Screen shots are not available."
Url :- http://url.brentvatne.ca/jQp8

Manually Link Native Modules

Run npm install react-native-document-picker --save
Open your project in XCode, right click on Libraries and click Add Files to "Your Project Name", select RNDocumentPicker.xcodeproj (Screenshot) then (Screenshot).
Add libRNDocumentPicker.a to Build Phases -> Link Binary With Libraries (Screenshot).

here Documentation is waste wi

[2019-02-05 09:33] Biplovkumar commented on #181
please reply ?

[2019-02-05 13:05] Elyx0 commented on #181
Screenshot is indeed dead. Try rnpm link

[2019-02-07 12:09] leoek commented on #69
@Elyx0 can we release this?

[2019-02-07 15:26] Elyx0 commented on #69
I'll want to coordinate with v3 contributors before releasing this if breaking changes happen

[2019-02-07 18:03] leoek commented on #69
@Elyx0 understandable, are they aware that now could be a good be a good time to release v3? At least for me v3 seems to be stable :)

[2019-02-08 16:12] novellizator opened #183 "Crashes on large files! [with PR]"
https://github.com/Elyx0/react-native-document-picker/pull/182

[2019-02-08 23:56] miajohansson9 commented on #152
I am having this same problem

[2019-02-09 21:03] miajohansson9 commented on #94
I followed these directions _exactly_ and rebuilt my app, but I'm getting this warning: `RNDocumentPicker: Native module is not available, make sure you have finished the installation process and rebuilt your app`

[2019-02-09 21:43] agates4 commented on #94
My gut tells me this is a caching issue

Maybe try
delete package.lock and node_modules/
npm install
delete Podfile.lock and Pods/
clear Xcode build with Command + Shift + K
quit Xcode
Pod install in the ios/ folder

If it still doesn't work, then there's something else going on

[2019-02-10 02:07] miajohansson9 commented on #94
I'm getting this error:
RNDocumentPicker: Native module is not available, make sure you have finished the installation process and rebuilt your app

But I followed the directions above exactly. I can't figure out what I'm doing wrong :(

[2019-02-10 14:47] miajohansson9 commented on #94
I don't have pods installed in my react native app. Would this affect anything? It's still not working.

[2019-02-10 15:31] miajohansson9 commented on #94
It didn't work when I did that, so I tried installing again with cocoa pods. It doesn't throw an error or warning anymore when I have `import { DocumentPicker, DocumentPickerUtil } from 'react-native-document-picker';` at the top of my file, but when I try to run the sample code above, it says that DocumentPicker is undefined. I got this error before as well, but I also had the warning that rnDocu

[2019-02-10 18:43] miajohansson9 commented on #94
What finally worked for me was installing with cocoa pods and then changing my code to:

`var DocumentPicker = require('react-native-document-picker');`

[code]

[2019-02-11 09:03] namnm commented on #88
Hi guys, any news on this?

[2019-02-13 23:23] SyedHaris94 opened #184 "Document picker does not work on Huawie Mobiles"
when i select the document the application crashes on huwaie mobiles while working fine on other devices
unable to debug the problem an solutions ..??

[2019-02-14 04:33] webmasterdragon opened #185 "Android Google Drive Image get issue"
Hi, It is great package to get files from local/remote. Working as well with local files but I am having android google drive issue here.
https://ghostbin.com/paste/px7j4

Also my AndroidManifest.xml is here.
https://ghostbin.com/paste/4jpy4

My code:
[code]
My React Native info:
[code]
Thanks.

[2019-02-19 00:57] #147 closed

[2019-02-19 00:59] #166 closed

[2019-02-19 01:00] #167 closed

[2019-02-19 11:34] namnm commented on #151
Anyone here get it work?

[2019-02-22 01:12] wincjh commented on #154
Any luck?

[2019-02-22 13:44] ahartzog commented on #34
Also see: https://github.com/joltup/rn-fetch-blob/issues/116

That resolved this error for me.

[2019-02-26 02:45] #185 closed

[2019-02-26 03:04] webmasterdragon opened #187 "On Android, How to show Dropbox?"
On Android, I have installed Dropbox, Google Drive but not showing on `DocumentPicker.show()` function. IOS is working perfectly. 👍
Are there any additional configuration(like permission) to showing external app's library?
Thanks.

_Originally posted by @webmasterdragon in https://github.com/Elyx0/react-native-document-picker/issues/121#issuecomment-437285242_

[2019-02-26 04:12] webmasterdragon commented on #123
Any update?

[2019-03-02 12:35] zanaviska opened #189 "Install on Linux for android"
I tried to install it, but if I make automatic linking modules, than app generate some errors that should be fixed by reinstaling picker using manual linking modules(in order to a lot of answer similar to that https://github.com/react-native-community/react-native-image-picker/issues/269). When I generate new project using ```expo init``` or ```react-native init``` there are no files, that I have

[2019-03-02 23:37] #189 closed

[2019-03-06 12:56] JeremyBradshaw7 opened #190 "Multiple Dex Files"
Compiling with the v3 package I'm now getting this build error on Android:

Dex: Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lio/github/elyx0/**reactnativedocumentpicker**/BuildConfig;
    UNEXPECTED TOP-LEVEL EXCEPTION:
    com.android.dex.DexException: Multiple dex files define Lio/github/elyx0/reactnativedocumentpicker/BuildConfig;
        at

[2019-03-08 04:16] KPS250 opened #191 "Need to Change Picker theme"
Help needed to change picker theme

[2019-03-11 04:36] fubar opened #192 "Is this library still maintained?"
As described a year and a half ago here https://github.com/Elyx0/react-native-document-picker/issues/71, this library is using deprecated iOS functionality which results in a broken UX. It appears like development on version 3 hasn't had any activity in half a year or so (https://github.com/Elyx0/react-native-document-picker/issues/69).

Is this library still maintained?

[2019-03-11 13:51] archana-iron opened #193 "How to set Browse button placement on iPad device??"
After choosing document it shows iCloud choose file option at the top. It's placement is good on iPhone but on iPad it displays on top.

On iPad it looks like this.You can check this screenshot.
![Screen Shot 2019-03-11 at 7 18 35 PM](https://user-images.githubusercontent.com/41895602/54128796-dab72500-4432-11e9-8307-b4065b7629a1.png)

On iPhone it looks like this::
![IMG_D96607463EFE-1](https://u

[2019-03-11 15:41] Elyx0 commented on #192
Any PR welcome :)

[2019-03-11 17:48] fubar commented on #192
I take that as a "no".

[2019-03-11 17:49] #192 closed

[2019-03-15 08:07] pgonzalez-santiago commented on #22
Any news? Why is iCloud required?

[2019-03-15 08:46] pgonzalez-santiago commented on #115
Why is iCloud needed?

[2019-03-15 13:59] nshaposhnik commented on #185
Have you resolved it? For me, it would work only without decodeURIComponent, which is needed to correctly read files with spaces etc. in it's names, at least on iOS. Have you just skipped decodeURIComponent for Android?

[2019-03-15 14:19] webmasterdragon commented on #185
Yes.

[2019-03-15 17:01] dantman commented on #22
Because Apple requires iCloud to use the file picker API.

[2019-03-18 07:03] anniewey commented on #134
@Elyx0 Where to download V3?

[2019-03-20 13:01] ElangoPrince commented on #156
**i'm trying the same, but no response data..show error like:**
            failed to list path `null` for it is not exist or it is not a folder.

[code]

[2019-03-20 13:02] ElangoPrince commented on #156
Any idea, about why still getting same error?

[2019-03-20 17:02] kingkian opened #194 "iOS Callback Not Fired for DocumentPicker.show"
Any ideas?

RN 0.50.0
document picker ^2.1.0

[2019-03-21 00:42] AlanQuadros commented on #73
Thank you @schmaluk

[2019-03-21 13:18] megabayt commented on #194
same here
`const pickerShow = () => new Promise((resolve, reject) => {
        DocumentPicker.show(
          (options || {
            filetype: [DocumentPickerUtil.allFiles()],
          } as any),
          (error, res) => {
            if (error) {
              reject(error);
              return;
            }
            resolve(res);
          },
        );
      });
      const file = yie

[2019-03-21 16:39] kingkian commented on #194
iOS doesn't fire the callback if you don't select a file. Android returns an error. This difference in behavior caused me confusion. The whole point of RN is to provide packages that behave the same way from the Javascript perspective. I'll close this issue.

[2019-03-21 16:39] #194 closed

[2019-03-25 04:12] badrinathvm opened #196 "react-native-document-picker is not working on Android"
Performed all linking as per the READ ME

Added an entry in build.gradle

[code]

And also on Settings.gradle

[code]

Also provided permissions for

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

Works properly on iOS but fails on **Android**.  Any help is really appreciated.

<img width="323" alt="Screen Shot 2019-03-24 at 9 09 17 PM" src="https://user-images.gith

[2019-03-25 09:56] bhoomesh950 commented on #196
@badrinathvm is it working with iOS i unable to view the loaded documents from iCloud please help is its working with iOS

[2019-03-25 15:41] badrinathvm commented on #196
yes it's working on iOS. What is the issue you are facing with iOS

I followed below steps

1. Right Click on Libraries in Xcodeprpject , Then add the `RNDocumentPicker.xcodeproj`
2. Got to Build Phases and link the library 'libRNDocumentPicker.a`
3. Make sure to enable the titlements in `Capapbalities` section.

[2019-03-25 15:41] badrinathvm commented on #196
Any help on Android please ?

[2019-03-25 16:13] badrinathvm commented on #196
Fixed the issue , had forgot to add entry `new ReactNativeDocumentPicker()`
in MainApplication get Packages()

It works now..

[2019-03-28 07:34] bhoomesh950 commented on #196
@badrinathvm Thanks for replay. How can i view the selected file ?. I have used react-native-file-viewer but i unable to preview the file. Reference error  [https://github.com/vinzscam/react-native-file-viewer/issues/44](url)  Please help me if you find any solution.

[2019-03-28 12:12] rashmimhatre100 commented on #83
When is version 3 releasing?

[2019-03-31 14:59] pamelaschuldiner commented on #196
@bhoomesh950 You can read the file with RNFetchBlob library. In my case I'm using PDF, so I convert it to base64 string and pass to the PDFView library.

[code]

That's a basic example

[2019-04-06 06:21] rash6795 commented on #193
I am also facing this issue any solution for this ?

[2019-04-10 07:20] avinash03031991 commented on #154
Is there any solution for it?

[2019-04-11 03:11] danielsGit opened #198 "Not working with react-native: 0.59.4"
I just downgraded the react native version to 0.59.2 and it seems working fine.
When I try (actually tried on android only) to pick pdf or text or all files, it opens the document picker successfully but without any file. And when I tried to open it second time, app freezes and not able to do anything...

[2019-04-11 14:10] jayporta opened #199 "[iOS] Permission Denied trying to access a file with spaces in the filename"
v. 2.1.0
React Native 0.57.8

I've seen similar issues reported here when trying to get a file with certain characters. In my case, it's a space. If the file name has a space, the uri will show it as %20. Then, when attempting to access the file path later. Even if I decode the uri I get the same error. This does not happen in Android, and it does not happen when file names don't have spaces.

Upg

[2019-04-13 13:07] hamid opened #200 "The picker doesn't show `iCloud drive,Google Drive` , ... . it only shows `Browse` item."
The picker doesn't show `iCloud drive,Google Drive` , ...  . it only shows `Browse` item.

![image](https://user-images.githubusercontent.com/1645233/56080149-8ed11480-5e12-11e9-86f3-21e16a02f5bd.png)

i have enabled iCloud Documents to access iCloud.

[2019-04-15 04:35] viv3kk commented on #83
Any timeline for v3 release ??

[2019-04-15 04:49] rashmimhatre100 commented on #83
I installed V3 using,
**npm i --save https://github.com/Elyx0/react-native-document-picker.git#v3**

And tried Multiple select images, it is working fine. Tested on android 5.1 Lollipop.
For more details:
https://github.com/Elyx0/react-native-document-picker/tree/v3

[2019-04-15 04:52] viv3kk commented on #83
Thanks... will try this

[2019-04-15 04:53] viv3kk commented on #83
Thanks will try this..

[2019-04-15 22:05] fahidmohammad commented on #154
+1 facing the same problem

[2019-04-16 08:10] martin-badin commented on #187
any solution?

[2019-04-18 04:37] samariyapraveen commented on #156
I tried the same but I get error : Cannot read 'fs' of undefined. I dont know why? res.uri prints correct but RNFetchBlob.fs.stat gives this error.
Kindly help.

[2019-04-18 04:44] NKGS commented on #156
Hi,
I tried the same but it gives me error : 'Cannot read fs of undefined'. I am getting same error while readFile and while using stat.

Kindly help.

[2019-04-18 04:48] ronastlelobo commented on #156
@NKGS add read and write user-permission in AndroidManifest.xml. Thereafter, go-to app settings and manually guve storage permission to the app.

[2019-04-19 19:12] meftunca commented on #200
#What do you think about this subject?
## Is there an update for Dropbox and others?

[2019-04-25 11:21] gssisaac commented on #200
Same result here too.

[2019-04-25 12:16] adityasonel commented on #200
Are you testing on simulator?

[2019-04-26 00:40] gssisaac commented on #200
I've tested on real devices iPhone and iPad as well. I saw the same 'Browse ...' menu only. How can I activate other menus?

[2019-04-26 08:51] busyninja commented on #200
Also I've tested on iPhone. Same behaviour.

[2019-04-26 09:50] pk936 commented on #156
@ElangoPrince I got error: failed to stat path `null` because it does not exist or it is not a folder

[2019-04-28 11:00] hamid commented on #200
Tested in real device ... same result ...

[2019-04-29 15:10] hednowley commented on #154
I added these values to the root `<dict>` inside my app's `Info.plist` and I can now see local files:

[code]

[2019-05-01 11:21] viv3kk commented on #198
not working on 0.59.2 ...

[2019-05-02 05:44] viv3kk commented on #196
not working on RN 0.59.1

[2019-05-02 05:45] viv3kk commented on #184
not working on MI A2 (Pie)

[2019-05-02 07:32] imdadhussain004 commented on #84
`var options = {
            title: 'Select File',
            customButtons: [{ name: 'files', title: 'Other files...' }],
            quality: 0.3,
            storageOptions: {
                skipBackup: true,
                path: 'images'
            }
        };

        ImagePicker.showImagePicker(options, (response) => {
            console.log('Response = ', response);
            // con

[2019-05-02 11:18] busyninja commented on #200
I wanted to update the issue, there is a fork from this repo that works as expected:

https://github.com/piranna/react-native-document-picker

I hope this might help others...

[2019-05-03 12:55] jsamr opened #202 "[v3] On iOS, the returned URI is percent-encoded"
*Version* 73ebe60dd517e6168bc77e8cd5bbf6037696b09f

In version 3 ios, the returned URI is [percent-encoded](https://en.wikipedia.org/wiki/Percent-encoding).
To have a uniform platform independent behvior, I must use :

[code]

I expect instead the library to behave uniformly.

[2019-05-03 13:19] jsamr commented on #69
Please add #202

[2019-05-08 02:20] dick3741 commented on #156
[code]

[2019-05-09 12:26] arunraj-qburst commented on #198
any update on this ?
Here too having the same issue
"react-native": "0.59.1"

Nothing is happening while calling the   method "DocumentPicker.pick(....)"

[2019-05-10 12:15] pranavpandey1998official opened #203 "null is not and object on IOS"
<img width="390" alt="Screenshot 2019-05-10 at 5 43 25 PM" src="https://user-images.githubusercontent.com/44601530/57526602-71c52e00-734b-11e9-93b8-3da89a9d3c04.png">

[2019-05-10 12:16] pranavpandey1998official commented on #203
its working correctly on android

[2019-05-13 10:50] ankhzet commented on #203
Just bumped into this. Looks like repository shows readme file for master branch (with `import { DatePicker } from ...` import), but the package on the npm refers to 'v2' branch (with `const DocumentPicker = require('react-native').NativeModules.RNDocumentPicker;` import).
`

[2019-05-14 05:54] nadav2051 opened #204 "Opening the gallery for picking in iOS sorts the images from oldest to newest"
Any way to reverse the older as it is frustrating to scroll all the way down to the newest image?

[2019-05-17 13:09] hednowley commented on #199
I worked around this by decoding the URI in iOS only (see related issue [here](https://github.com/Elyx0/react-native-document-picker/issues/202)).

[2019-05-17 19:33] jsamr commented on #202
I was using RNFS which doesn't have a consistent behavior across platforms. Switched to expo FileSystem and realized the returned URI is perfectly fine...

[2019-05-17 19:33] #202 closed

[2019-05-18 04:49] anil-kumar-singh commented on #51
I having the same issue. Any one find any solution for this.

[2019-05-20 14:48] Developer-Deep commented on #202
Does this work with expo on android? I'm banging my head to open a file that is stored using Expo.FileSystem for days now, I don't wanna eject.

[2019-05-20 21:02] b3nab commented on #161
Same error here, my env is:

react-native-document-picker v.3 (use github forked repo from the #197 PR)

I added the code suggested by @Krosh but I changed the version to mimic my `buildscript > ext > ...` versions from 27 -> 28 like so:

[code]

and all works!
🥂

[2019-05-21 02:05] #161 closed

[2019-05-23 07:38] nadav2051 commented on #198
Have you guys found the minimal version where it is working with?

[2019-05-28 20:58] lucaspiressimao commented on #154
How ? I already added to and It still not showing .... plz Help me ...

[2019-05-29 19:11] kayzenkayzen opened #206 "Permission denied selecting google drive file"
Error: Permission Denial: reading com.google.android.apps.docs.storagebackend.StorageBackendContentProvider uri content://com.google.android.apps.docs.storage/document/acc=1;doc=337 from pid=3302, uid=10174 requires android.permission.MANAGE_DOCUMENTS, or grantUriPermission()

[2019-06-04 10:22] kamleshsindhal08 commented on #133
same error faced

[2019-06-04 16:08] Jono20201 opened #207 "Error when assembling release build"
Hi,

When running `./gradlew assembleRelease` we are seeing the following error:

* What went wrong:
Execution failed for task ':react-native-document-picker:verifyReleaseResources'.

  /Users/jonathanmartin/code/pickr-app/node_modules/react-native-document-picker/android/build/intermediates/res/merged/release/values-v26/values-v26.xml:7: error: resource android:attr/colorError not found.
  /Users

[2019-06-08 21:55] Elyx0 commented on #207
Did you find the solution?

[2019-06-08 21:56] Elyx0 commented on #206
Did you figure it out?

[2019-06-08 21:56] Elyx0 commented on #204
Did you figure it out?

[2019-06-08 22:05] Elyx0 commented on #200
Awesome @busyninja Why don't you pull request back in? Can you please add the description to the readme? I need a maintainer I think! Except if @dantman finishes v3 <3

[2019-06-08 22:08] Elyx0 commented on #198
You'll have to downgrade while someone investigates.

[2019-06-08 22:08] Elyx0 commented on #198
@danielsGit What changed between .2 and .4?

[2019-06-08 22:09] Elyx0 commented on #191
I have no idea either, on which platform?

[2019-06-08 22:10] Elyx0 commented on #190
Did you find what was wrong here?

[2019-06-08 22:13] Elyx0 commented on #191
Maybe a check at how https://github.com/kaancelen/react-native-nononsense-file-picker does it would be a good lead

[2019-06-08 22:15] Elyx0 commented on #203
Which one did you use @pranavpandey1998official ?

[2019-06-08 22:16] Elyx0 commented on #196
I think we need to open a Spectrum about it

[2019-06-09 00:57] Jono20201 commented on #207
Not yet. We’ve been pulled away on other tasks.

Related to upgrade to latest RN build (and maybe target android SDK) version I believe. Don’t have the build number to hand at the moment though.

[2019-06-09 10:26] pranavpandey1998official commented on #203
just bump to v3 fixes this

[2019-06-11 04:39] CatapultJesse commented on #200
Any updates on where this is at?

[2019-06-11 05:01] zsubzwary commented on #73
@schmaluk you have no IDEA, you basically saved my life !!

[2019-06-11 10:13] QuevedoIB commented on #198
import {
  DocumentPicker,
  DocumentPickerUtil
} from "react-native-document-picker";

...

DocumentPicker.show(
      {
        filetype: [DocumentPickerUtil.pdf()]
      },
      (error, res) => {
        if (error) {
          console.log(error);
        } else {
          console.log(
            res.uri,
            res.type, // mime type
            res.fileName,
            res.fileSize

[2019-06-11 13:20] pysjabr77 commented on #203
I get the same problem in Android

[2019-06-12 13:01] busyninja commented on #200
Hi guys , can you please create a v3_camera branch where to ask for pull request?

In other case please specify which branch do you want to prepare PR for .

[2019-06-13 12:54] Digesha commented on #148
Any solution?

[2019-06-13 12:57] Digesha commented on #83
It is giving error like
Cannot resolve symbol 'io' - import io.github.elyx0.reactnativedocumentpicker.DocumentPickerPackage;

[2019-06-14 08:32] maestrolsj commented on #154
Is there any solution for it?

[2019-06-14 08:37] maestrolsj commented on #154
Did you try it out as release mode on a real ios device by any chance?

[2019-06-14 12:34] filipemerker commented on #161
@b3nab Thanks for sharing! Just works!

[2019-06-18 08:59] QuevedoIB opened #208 "react-native-document-picker and modals"
Just pointing out a problem I've faced, react-native-document-picker was freezing the app on calling .show() at iOS whenever a modal transition was still running.

A fast workaround was using a setTimeOut with the same timer as the transition duration.

[2019-06-26 22:09] dimitarnestorov commented on #154
It's available in iOS 13

[2019-06-27 07:33] DhananjayAccolite commented on #200
Facing same issue

[2019-06-28 04:58] GunaSekhar1 opened #210 "Unable to select file type document in iOS"
Can you suggest how can I achieve this using this plugin? I am using public.allFiles. the files of type document is disabled.

[2019-06-28 15:33] uendar opened #211 "show ios choose options"
how can i show in ios this screen:

![687474703a2f2f692e737461636b2e696d6775722e636f6d2f64763069512e706e67](https://user-images.githubusercontent.com/13899301/60353620-bd4e9c80-99ca-11e9-854f-57079cdf08fa.png)

I have only one option : browse ...

[2019-06-28 16:37] cstehreem opened #212 "Files not getting refreshed after first open"
Hi,

I am using react native document picker to pick a file from downloads folder. The issue I am facing is that once UI gets displayed, it never refreshes. I have deleted files from folder and added new but no changes show up. I can still see old files (although I cannot pick them with error that file doesn't exist) and new files do not show up. Any way I can manually refresh the UI every time us

[2019-07-01 19:58] zackify commented on #179
this is not fixed on the current master branch so why is this closed?

[2019-07-01 19:58] zackify commented on #134
Where is this?

[2019-07-03 07:59] FRizzonelli opened #213 "[v3] NPM release"
Hello :)

Just a question, why V3 isn't available on npm?

[2019-07-03 13:32] nabati commented on #69
What's the status on this, @Elyx0 @dantman ?

Can I do something to facilitate this moving forward?

[2019-07-04 19:39] Elyx0 commented on #213
V3 is released just now :)

[2019-07-04 19:39] #213 closed

[2019-07-04 19:41] #183 closed

[2019-07-04 19:51] Elyx0 commented on #200
@busyninja I've checked the piranna version, he already wanted to merge https://github.com/Elyx0/react-native-document-picker/pull/140 adding Web support which was too diverging, V3 is now merged in master but we need someone to do PR to fix this if it's not working as intended still.

[2019-07-04 19:52] Elyx0 commented on #203
V3 is released as master now please update and check!

[2019-07-04 19:53] #181 closed

[2019-07-04 19:53] Elyx0 commented on #133
Can you retry with latest?

[2019-07-04 19:54] Elyx0 commented on #152
I released V3 into master, does this still happen?

[2019-07-04 19:55] Elyx0 commented on #69
I merged V3 into master, let's address all the new bugs PR into master now :)

[2019-07-04 19:56] Elyx0 commented on #192
V3 is now into master buddy

[2019-07-05 19:06] Elyx0 commented on #210
Please look at the new readme for `3.2`

[2019-07-07 12:43] tkow commented on #200
Thought I found this problem can be resolved by UIDocumentMenuViewController, we shouldn't not use this because it's deprecated as [here](https://stackoverflow.com/questions/31070588/using-the-uidocumentpickerviewcontroller-is-it-possible-to-show-a-default-servi) described. So, it's better to wait for apple api update or abandon.

[2019-07-08 07:21] Arun-paramasivam opened #217 "document picker doesn't work in v3"
I'm using react-native-document-picker version: 3.2.0
react-native version: 0.58.6
react: 16.6.3

i installed debug app on android device(Redmi 4) with os version: 7.1.2.
i haven't checked on iOS.

i used the below function to call document picker.

pickMultiple = async() => {
    try {
      const res = await DocumentPicker.pick({
//error occurs at the below line
        type: [DocumentPicker.typ

[2019-07-08 07:34] dantman commented on #217
Looks like this error is from the `DocumentPicker.types.images` which suggests that the `types` on `DocumentPicker` is not defined. Double check the `DocumentPicker` import and the index.js code of the package being imported.

[2019-07-08 07:41] codemeall commented on #154
any solution? it is happening in IOS 12 and above it seems

[2019-07-08 09:08] Arun-paramasivam commented on #217
Hey @dantman,  Ya i checked the DocumentPicker import. It is mapped correctly to the respective node module folder. im not sure why it shows the type as undefined.

[2019-07-09 01:48] tkow commented on #211
This is duplicated question.
Please see that issue, and in current new api can't realize document menu.
https://github.com/Elyx0/react-native-document-picker/issues/200

[2019-07-09 02:02] tkow commented on #217
@Arun-paramasivam
Above 3.x, DocumentPicker api change from named export to  default export. Then it's possible to  have some trouble in android though I checked iOS. In addition If you use typescript (maybe you use es), types have some troubles now I have fixed when I notice something wrong though I was care of forgetting implements. #218 may be last type migration of that . This library feature

[2019-07-09 02:15] Elyx0 commented on #217
Thanks @tkow ☺️

[2019-07-09 07:06] Arun-paramasivam commented on #217
Hey @tkow and @dantman , thanks for the help. The issue is sorted out. It seemed to be import issue which i tried before too. i uninstalled, cleaned, relinked and rebuilt the app. Now its working fine in both android and iOS(simulator).
// During error(have tried without braces too before)
import { DocumentPicker } from 'react-native-document-picker';
//after rectification(cleaned, relinked and re

[2019-07-09 07:06] #217 closed

[2019-07-12 11:27] kapil-kumawat opened #220 "App crash on android 9 pie mobile phones"
App crash when i select file for upload in android version 9 mobile.

[2019-07-13 01:46] Elyx0 commented on #220
What npm version?

[2019-07-15 05:24] demoNoc commented on #220
i am facing same issue :

[2019-07-15 05:26] demoNoc commented on #220
same issue in my project :
My project settings :
"react-native": "0.58.6"
node-version :v10.15.3
"react-native-document-picker": "^2.3.0"

[2019-07-15 05:33] kapil-kumawat commented on #220
My project settings :
"react-native": "0.58.6"
node-version :v10.15.3
"react-native-document-picker": "^2.3.0"

[2019-07-15 06:03] kapil-kumawat commented on #220
Please help me

[2019-07-15 16:52] #211 closed

[2019-07-15 16:53] Elyx0 commented on #220
Caret like `^` prevent from knowing the exact version, please try with `"react-native-document-picker": "2.3.0"` then npm install and retry. If it doesn't work use `"react-native-document-picker": "^3.2.0"` and retry, also please provide the crash logs

[2019-07-15 17:54] shubhnik commented on #133
Hi, @Elyx0 thanks for looking into it. Currently, I am not working on that project so might be difficult for me to test. If anyone can retry and close this issue. Thanks for the contribution 👍

[2019-07-17 01:15] inkCrazy commented on #106
我用3.2.2也遇到了同样的问题

[2019-07-17 06:26] ankush209 commented on #159
i used without expo still this error occured

[2019-07-19 11:21] Purvik commented on #70
@Preethyp Hey facing the same issue here but still not have any solution to get file path from content uri. Do you have solved this issue? Please show me some way to get the solution.

[2019-07-19 14:44] kunalverma94 opened #221 "Cannot read property 'pick' of undefined"
..installation must be made easy.+followed allsteps still  getting the error
 Cannot read property 'pick' of undefined
FYI i followed all you instructions

[2019-07-19 14:46] Elyx0 commented on #221
What version of react native & on ios or android ? Which version? Plugin version?

[2019-07-19 16:37] pavelustenko commented on #210
Try:
`const res = await DocumentPicker.pick({
                    type: ['public.item'],
                });`
That worked for me.

[2019-07-20 04:08] kunalverma94 commented on #221
"react-native-document-picker": "^3.2.2",

 react-native-cli: 2.0.1
react-native: 0.60.3

[2019-07-20 04:25] kunalverma94 commented on #221
if i follow these steps https://www.npmjs.com/package/react-native-document-picker#android get error
--error in getPackages

----------------------------------
@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          new MainReactPackage(),
            new DocumentPickerPackage() // Add package
      );
    }
on adding this
android - cannot fin

[2019-07-20 04:33] Elyx0 commented on #221
Does it change something if you do
[code]
If it doesn't can you try this version https://github.com/Elyx0/react-native-document-picker/tree/v2 (doc changed)
by using  `"react-native-document-picker": "~2.3.0"` ( `npm install react-native-document-picker@2.3.0` ) and see if it bugs?

[2019-07-22 12:18] sentry0 commented on #221
I was having the same issue after upgrading and for me it was a simple import change that did the trick...

I went from:
`import { DocumentPicker } from 'react-native-document-picker'`

To:
`import DocumentPicker from 'react-native-document-picker'`

No more brackets :P

[2019-07-22 13:30] kunalverma94 commented on #221
thanks @Elyx0 and @sentry0

[2019-07-22 13:30] #221 closed

[2019-07-23 06:49] Preethyp commented on #70
@Purvik I couldn't get file content from content uri. so I ended up using base64 from content uri.

[2019-07-26 14:46] Elyx0 commented on #70
Can people in this thread confirm that this pull https://github.com/Elyx0/react-native-document-picker/pull/224 would solve this and won't cause issues?

[2019-07-29 15:02] tkow commented on #70
I can get blob #224 and convert dataUrl encoding by base64 and write file using some FS library of RN.
but I have problem that conversion large file (about more than equal 5MB) file to dataUrl fails, and I'm finding why it is caused. I suspect memory leak when using dataUri with data converted .
https://stackoverflow.com/questions/695151/data-protocol-url-size-limitations
So, I think blob to dataU

[2019-07-29 17:44] dantman commented on #70
@tkow Blob data is stored in the native code area (don't remember if it's memory or cached in the filesystem). In order to get a base64 string, the entire contents of the file has to be transmitted over the Native<->JS bridge and converted into base64, which is a format that takes up more memory than the binary it represents. And because that base64 string is a JS string, the entirety of that data

[2019-07-30 01:33] jyapi commented on #152
still have this issue with version 3.2.4

[2019-07-30 02:08] tkow commented on #70
@dantman

I appreciate to have your time.
I agree with you and RN blob should be used as formData now.

BTW, The reason why I want to cache files is that stable [react-native-firebase](https://rnfirebase.io/docs/v5.x.x/storage/reference/Reference#putFile) supports cached files only.
In edge version, I found the blob conversion way in this code, and tested in same way.

https://github.com/invertase

[2019-07-30 03:31] Elyx0 commented on #152
Can you copy the error message?

[2019-07-30 04:55] tan-duong commented on #154
+1

[2019-07-30 07:04] sauravjmt commented on #70
@dantman
    How to use content://  to send the file with email attachment ?
    When i use the content:// as path i am getting 'couldn't attach the file' in mail app
    Thanks

[2019-07-30 07:09] dantman commented on #70
@sauravjmt I have no clue what API you're even using to open the mail app.

[2019-07-30 07:15] sauravjmt commented on #70
@dantman  i am using 'react-native-mail'  which is using Intent in android to send with email.

with following basic use

Mailer.mail({
      subject: 'Testing',
      recipients: ['],
      ccRecipients: [],
      bccRecipients: [],
      body: '<b>A Bold Body</b>',
      isHTML: true,
      attachment: {
        path: ,  // The absolute path of the file from which to read data.
        type:   /

[2019-07-30 07:48] dantman commented on #70
@sauravjmt react-native-mail takes filesystem paths and on Android and then uses `Uri.fromFile` to make a `file://` URI to pass in the intent (I guess they just assume that the app on the other end has permissions to read the whole filesystem?).

You will either have to copy the whole file to your app's cache folder and use that path. Or get react-native-mail to optionally accept URIs instead of p

[2019-07-30 16:36] sharma12343 opened #226 "pickMultiple return undefined"
After selected the Multiple pdf file document picker return undefined

[2019-07-30 16:52] #226 closed

[2019-08-02 01:26] jyapi commented on #152
Just have this warning with jest test.  I'm using "react-native": "0.59.9" and "react-native-document-picker": "^3.2.4".
●  Cannot log after tests are done. Did you forget to wait for something async in your test?
    Attempted to log "RNDocumentPicker: Native module is not available, make sure you have finished the installation process and rebuilt your app".

      at BufferedConsole.warn (node_m

[2019-08-08 01:14] gnprice commented on #152
I'm experimenting with using this library, but if I do I get this same warning every time I run Jest. It shows up many times (once per test file?), making a lot of noise.

The warning is generated by react-native-document-picker itself. (It's wrapped in a warning from Jest, because it's under a setTimeout and happens after the test is done.) It's produced by this code in the library's `index.js`:

[2019-08-08 01:47] gnprice commented on #152
In case it helps someone else: I worked around this issue by not `import`-ing the library, and instead `require`-ing it just before the code that will actually invoke it. Like this:
[code]

It'd still be good for that to not be necessary.

[2019-08-14 11:05] ChucNgo commented on #174
I've tried your problem, when i remove docIdentifier it works. I'm testing on IPhone 6

[2019-08-16 10:45] fkhrrz commented on #154
+1 having the same problem

[2019-08-17 07:18] Pratyanch-7415 opened #228 "DocumentPicker.show() is not working with "react-native": "0.59.1""
I am getting this error:
"undefined is not an object (evaluating '_reactNativeDocumentPicker.DocumentPicker.show')".

Please suggest the best suitable solution.
Thanks in advanced

[2019-08-17 19:55] SnehalAgrawal commented on #228
@Pratyanch-7415 react-native-document-picker version?

[2019-08-18 18:23] manikanta-kondeti commented on #55
This still fails even today. Here is my system spec:
I had to remove the `@override` manually. Please check and confirm.

[2019-08-18 18:52] Elyx0 commented on #55
Will check!

[2019-08-18 18:52] Elyx0 commented on #55
Will check!

[2019-08-19 08:28] TheTimeWalker opened #229 "Permission denial when using DownloadStorageProvider"
Currently when trying to open up files on download storage ends up with a permission denied when used in combination with document picker. It seems to happen as soon as you get raw paths from the document picker and try to do anything like `getContentResolver().query();`

The error message is:
[code]

The raw path seems to be implemented since Android Oreo and can happen when using the Downloads m

[2019-08-19 16:57] TheTimeWalker commented on #229
It was an error where raw hasn't been properly implemented in rn-fetch-blob. After fixing there everything is fine again.

[2019-08-19 16:57] #229 closed

[2019-08-19 19:51] rajivshah3 commented on #198
@QuevedoIB can you try using https://github.com/Elyx0/react-native-document-picker/pull/230 to see if that fixes the issue on iOS?

[2019-08-19 19:54] Elyx0 commented on #229
Good to know, thanks!

[2019-08-21 07:09] saadmutahar commented on #75
@alexzobi thank you. It works perfectly with manual linking.

[2019-08-21 13:24] canpoyrazoglu opened #231 "How to get remote URL instead of local file URL?"
I'm trying to pick files from many services like Dropbox and Google Drive. Instead of downloading the file and uploading the file from a mobile device I'd like to have URLs to the files in the cloud and send them to the server and let the server download the files for a much faster workflow. I know that Dropbox, iCloud, Google Drive and pretty much all cloud storage services can generate direct li

[2019-08-21 19:48] dantman commented on #231
The native iOS and Android document pickers are not designed to work that way, they are meant primarily for picking documents that may be on the device so they don't have an option for remote urls.

On iOS you are *SOL*, the iOS document picker works with filesystem paths and auto-downloads the file itself.

On Android you get a `content://` URI. Theoretically you could hardcode file service speci

[2019-08-23 15:25] grwimran commented on #228
Same Problem with RN 0.60 and react-native-document-picker 3.2.4 .
Any Help Please

[2019-08-23 18:53] SnehalAgrawal commented on #228
Library has been updated and now DocumentPicker.show() has been changed and also updated the support to pick multiple Document as well.
**Now to pick single document**
[code]

**To pick multiple document**
[code]

If you are still confused then you can see [Example of File Picker in React Native](https://aboutreact.com/file-picker-in-react-native/). You will find how to integrated the Document pic

[2019-08-25 05:45] Arrow891 commented on #133
@Elyx0 Hi, tested with the latest version and still the same result, for me I get :

`Error:Error: failed to stat path "null" because it does not exist or it is not a folder`

when I try to check the file exist with `RNFetchBlob.fs.stat(decodeURIComponent(res.uri)).then(...blah blah)`

[2019-08-25 07:58] dantman commented on #133
`res.uri` is not a file path, FS exists functions are not going to work.

[2019-08-25 08:13] Arrow891 commented on #133
@dantman So how can I check if the file exists or not? or in a better way of asking, is it safe to directly upload the file to the server with `res.uri` without checking the existence of it?

[2019-08-25 08:24] dantman commented on #133
@Arrow891 If the user was able to pick a file, then it doesn't not exist. If the user can't pick a file then they'll cancel the picker, which will throw a cancelation error you can detect.

[2019-08-26 15:55] canpoyrazoglu opened #232 "How to specify the initial picker (e.g. directly open Google Drive or Dropbox)?"
My app designs are in such a way that there are dedicated buttons for Dropbox, iCloud, and Google Drive. Currently I couldn't find a way to open Dropbox or Google Drive directly, it always opens iCloud Drive. I can go back to anywhere I want but displaying iCloud initially when user taps Google Drive, for example, is confusing and counter-intuitive.

How do I get the picker to open a specific file

[2019-08-27 06:36] fatemehmemar123 opened #233 "Could not resolve all artifacts for configuration ':react-native-document-picker:classpath'."
hi
when npm i --save react-native-document-picker
install done
but when run project
this error show
 Could not resolve all artifacts for configuration ':react-native-document-picker:classpath'.

[2019-08-27 12:21] grwimran commented on #228
Hi,
Thanks for your email. But after implementing . i am receiving error every
time i call pick function. any help please.

Regards,

Imran Saeed

On Fri, Aug 23, 2019 at 11:53 PM SnehalAgrawal <notifications@github.com>
wrote:

[2019-08-27 12:29] grwimran commented on #228
This is exact  message i am getting.
"line":"166950", "coloumn":"92", "sourceURL":"
http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false"}

On Tue, Aug 27, 2019 at 5:20 PM imran saeed <grwimran@gmail.com> wrote:

[2019-08-27 16:18] grwimran opened #234 "Document Picker Not working"
try {

     const res = await DocumentPicker.pick({
      type: [DocumentPicker.types.images],
      //There can me more options as well
      // DocumentPicker.types.allFiles
      // DocumentPicker.types.images
      // DocumentPicker.types.plainText
      // DocumentPicker.types.audio
      // DocumentPicker.types.pdf
    });
    //Printing the log realted to the file
    console.log('res : ' +

[2019-08-27 17:17] grwimran commented on #228
Possible Undefined promise objection. TypeError undefined is an object
(evaluating _reactnativedocumentpicker DocumentPicker.Iscancel )

Any help please.

On Tue, Aug 27, 2019 at 5:29 PM imran saeed <grwimran@gmail.com> wrote:

[2019-08-27 17:21] SnehalAgrawal commented on #228
@grwimran  This is because you haven't linked the library and it is unable to find that. Please link the library and try again.
Here is a step by step example please go through it https://aboutreact.com/file-picker-in-react-native/

[2019-08-27 17:36] grwimran commented on #228
Thanks for your reply. I am working on android and react-native 0.60.4 . i
ran command
react-native link react-native-document-picker

info Android module "react-native-document-picker" is already linked.

Please help.

Regards,

Imran Saeed

On Tue, Aug 27, 2019 at 10:21 PM SnehalAgrawal <notifications@github.com>
wrote:

[2019-08-27 17:41] SnehalAgrawal commented on #228
Can you please check for this
https://github.com/Elyx0/react-native-document-picker/issues/228#issuecomment-525400457

[2019-08-27 20:02] grwimran commented on #228
Thanx Done

[2019-08-29 16:56] BalaRajendran opened #235 "How to get realpath after getting res.uri ?"
Please Help me!

How to get realpath after getting res .uri?

`try {`
`     DocumentPicker.pick({`
          `type: [DocumentPicker.types.plainText],`
`        }).then(res => {`
`          RNFS.readFile(res.uri, 'base64').then(con => {`
`            console.log(con);`
`          });`
`        });`

I can't get the output from  `console.log(con)'.Please give any solution.

[2019-08-30 08:03] Aliath opened #236 "Selecting media from iOS gallery."
Hi, is there any option to choose media from system gallery on ios? For now i pick media the following way:

[code]

But next i cant upload any image from my gallery. Is it even possible without any other libraries?

[2019-08-30 08:20] Aliath commented on #198
@rajivshah3 is it related with #236 ?

[2019-08-30 16:43] IvanCaceres opened #237 "iOS files missing or deleted after several minutes"
Acessing the file and filepath are working as intended initially but after a period of several minutes accessing the file again will result in the file not being found or missing.

This is on iOS. Could it be that because the files are in a temporary path /tmp/ they're being cleaned?

What would be the recommended solution here? Copying or moving the file to another directory?

[2019-08-31 04:50] pt9dat commented on #237
same here, both on Android and iOS

[2019-09-02 00:33] IvanCaceres commented on #237
@pt9dat i solved this by moving the video file using react-native-filesystem,

i suspect it's a temporary file so i moved it to the cache directory

hope this helps

[2019-09-03 07:04] pt9dat commented on #237
@IvanCaceres thanks so much

[2019-09-03 07:18] sachinhunasnale commented on #236
same here

[2019-09-03 07:19] sachinhunasnale commented on #236
document picker not showing images

[2019-09-03 12:30] Aliath commented on #236
It's not about showing images, i think that it's because of wrong ios component used to browse media.

[2019-09-03 14:43] ignaciomonzalvo commented on #236
Same, here. After updating to react-native 0.59.10 it stopped working on iOS but still works on android.

The picker modal is not showing up, neither on V2 nor V3.

[2019-09-03 16:50] Aliath commented on #236
Umm I think our problems are not related - for me (the newest version of react-native), library works as well on both platforms: ios and Android. The only problem is that ios opens view which does not allow pick media from gallery on ios.

[2019-09-03 17:44] ignaciomonzalvo opened #238 "Picker modal not showing on iOS"
I recently upgraded my project to react-native 0.59.10.
The library kept working correctly on android but didn't show the modal on iOS with the DocumentPicker.show() method.
I tried upgrading to the new v3 (version 3.2.4) but the problem is still here. The method DocumentPicker.pick() isn't working on iOS. It just doesn't show the modal, I'm not getting any error.

[2019-09-05 19:03] rollsroyc3 opened #239 "Copy file to local cache?"
I am using RNDP to select a PDF file (dummy.pdf), but then I would like to copy it over the apps local cache directory. When trying RNFS.copyFile I get the error `"'Error copying', { [Error: The file “dummy” doesn’t exist."`

The dummy.pdf is a local file that I downloaded from safari and saved to the iOS app Files.

Here is the code I am using to copy, any help is appreciated...

[code]

[2019-09-06 13:55] rollsroyc3 commented on #239
Had an invalid destination path, closing.

[2019-09-06 13:55] #239 closed

[2019-09-06 19:01] franjorub opened #240 "how to set the type array for extensions"
I'm trying filter only for typical docs extensions:

[code]
but I can't select them
![imagen](https://user-images.githubusercontent.com/24401350/64453689-23d0f480-d0b7-11e9-9a9c-f68cead560d7.png)

[2019-09-06 19:30] franjorub commented on #240
I try too
`
type: [
        ".docx application/docx com.microsoft.word.docx",
        ".doc application/doc com.microsoft.word.doc",
        ".xlsx application/xlsx com.microsoft.excel.xlsx",
        ".xls application/xls com.microsoft.excel.xls",
        DocumentPicker.types.pdf,
      ],
`

[2019-09-09 15:55] EyMaddis commented on #237
@IvanCaceres do you have some code to show. I would think that it is rather trivial, but the copyFile callback never triggers on Android.

[code]

[2019-09-09 18:11] MaximilianoRG commented on #234
Try this:

1. Don't put lib(Project)DocumentPicker.a on Build Phases.
2. Change the order of Link binary with Libraries and Copy Boundle Resources in this order:

   - Copy Boundle Resources
   - Link binary with Libraries

When i did this. It worked.

[2019-09-09 18:12] MaximilianoRG commented on #228
Try this:

1. Don't put lib(Project)DocumentPicker.a on Build Phases.
2. Change the order of Link binary with Libraries and Copy Boundle Resources in this order:

   - Copy Boundle Resources
   - Link binary with Libraries

When i did this. It worked.

[2019-09-10 12:54] SavageWilliam commented on #181
Bump

[2019-09-16 13:53] Purvik commented on #236
@Aliath
The same problem persist for me also. Working with RN 0.59.4 but all working fine. The only issue is can't pick up images from the gallery captured from device camera. Have you got any solution? If yes then please reply back.

[2019-09-16 13:55] Purvik commented on #204
@nadav2051  @Elyx0 I have got an issue, how did you open the gallery to pick images using this library? Please provide me the details as it's an important thing for me right now.

[2019-09-16 16:17] arthurbachtiar opened #241 "Not returning anything with "react-native": "0.60.5""
Idk whether this is because of the react native version or something else make this happen. So I've just integrating my android app with react native and migrating to AndroidX. Before I did the integration and migration, this code is perfectly fine, I get the result and everything. But, after the integration and migration, I only can see and click the photo from the picker, there's no result, cons

[2019-09-16 17:19] Aliath commented on #236
Not especially. It seems like ios component used in this library is directed to pure documents. User is still able to pick images from iCloud or apple Files though. I think you have two possibilities - the first one is about make wrapper which will use both - react-native-document-picker and react-native-image-picker. Then after pick event you should show dialog with options about media type and u

[2019-09-17 06:57] arthurbachtiar commented on #241
Solved. Turns out I forgot to add the function for onActivityResult. This is the code that I used.

`private final int OVERLAY_PERMISSION_REQ_CODE = 1;

	@Override
	protected void onCreate(Bundle savedInstanceState) {
		super.onCreate(savedInstanceState);

		SoLoader.init(this,false);
		mReactRootView = new RNGestureHandlerEnabledRootView(this);
		mReactInstanceManager = ReactInstanceManager.build

[2019-09-19 06:41] subhamchatterjee commented on #235
`try {
	const res = await DocumentPicker.pick({
		type: [DocumentPicker.types.allFiles],
	});

        var file;

	RNFetchBlob.fs.stat(res.uri)
	.then((stats) => {
		file = {
			uri: "file://" + stats.path,
			type: res.type,
			name: res.name,
			lastModifiedDate: moment().format('DD MMM YY, hh:mm A')
		};
	}).catch((err) => {
	  console.warn("err: ", err)
	});
} catch(err) {
	if ( DocumentPicker

[2019-09-24 07:13] ameernormie opened #242 "Not able to select files after upgrading xcode to 11.0"
Document upload was working fine before upgrading the xcode to version 11.0. After upgrading, unable to select any file from the phone.
This alert appears upon selecting the file

![image](https://user-images.githubusercontent.com/17154856/65489474-aa157500-dec4-11e9-8352-b32afad6d4e7.png)

[2019-09-25 06:53] imbudhiraja commented on #240
same issue. @franjorub Did you find any solution ?

[2019-09-25 07:55] Aliath commented on #236
https://gist.github.com/Aliath/25dde43cc0e59d3cbaec5b5cbb62100f

I made tiny wrapper for both libraries. You are welcome. 😄

[2019-09-25 11:59] franjorub commented on #240
@imbudhiraja yes I use react-native-mime-types and Every lookup función as array position

[2019-09-25 21:27] douglas-cavalcante commented on #240
same issue. @franjorub Did you find any solution ? Example, please !!!

[2019-09-26 05:20] fxdevesh91 commented on #238
I am having the same problem. It works fine on android but on IOS, its clickable but it does not "React" at all.

@ignaciomonzalvo have you found any solution so far?

[2019-09-26 07:28] fxdevesh91 commented on #238
Fixed.

You need to enable iCloud Documents to access iCloud

For this go to:
XCode -> YOUR_PROJECT -> Targets (YOUR_PROJECT) ->  capabilities -> iCloud -> enable and set  checkbox for iCloud Documents.

That's it.

[2019-09-26 14:18] bnolens commented on #160
I got this error when upgrading from expokit 33.0.6 to expokit 35.0.0. Anyone an idea how to solve this?

[2019-09-30 05:18] imbudhiraja commented on #240
@franjorub can you please share a working example.

[2019-09-30 06:09] imbudhiraja commented on #240
@franjorub I'm using this right now. but its not working.

[code]

[2019-09-30 07:54] imbudhiraja commented on #240
@douglas-cavalcante working code for .docx, .pptx, .xlsx, .pdfs.

[code]

[2019-09-30 17:59] franjorub commented on #240
Hi guys, sorry the late, this is how I was solved the issue

1. You need install react-native-mime-types
2. This is how I set the array:
`type: [
          mime.lookup('docx'),
          mime.lookup('xlsx'),
          mime.lookup('doc'),
          mime.lookup('xls'),
        ],`
And works perfect

[2019-09-30 18:58] jfaris opened #244 "npm version mismatch (3.2.4 vs 3.2.0)"
The code in this repository has version `3.2.0` but the latest version on npm is `3.2.4`

[2019-10-04 11:48] ghost opened #245 "Compress Files"
Is there  any way i can compress file after picking it from storage?

[2019-10-05 10:30] SanjayKushwah0601 commented on #128
I have found work around for this see my answer on
[Stackoverflow](https://stackoverflow.com/a/58247404/6481933)

[2019-10-05 12:36] spbriggs opened #246 "Picker not responding to document selection on iOS 13"
I have an app which works perfectly when running on an iOS 12 device but the exact same build fails on iOS 13 Simulator (I don't have an iOS 13 device to test on)

On iOS 13 the UIDocumentPickerViewController appears fine, I can navigate through folders OK but when I tap on a particular file nothing happens. No error message, nothing I can see in the logs.

I have iCloud capability as per attachme

[2019-10-05 12:37] spbriggs commented on #246
Possibly same issue as #242

[2019-10-05 14:06] Elyx0 commented on #242
Time to do some digging guys! I don't have time as of now :(

[2019-10-05 16:25] spbriggs commented on #246
After playing around in the XCode debugger I can see this error message:

`[DocumentManager] tried to call delegate -documentBrowser:didPickDocumentURLs: with an empty array of items. This indicates the items failed to be prepared and materialized on disk:`

[2019-10-07 02:33] edward-whittle commented on #246
I'm having the exact same issue that @spbriggs has, nothing happens when a document is selected in the browser.
The error message in the XCode debugger is when `pickMultiple` is used, nothing is printed in the console when `pick` is used.

[2019-10-07 11:04] spbriggs commented on #246
@edward-whittle is this happening for you in the simulator or on a physical device?

[2019-10-08 21:20] edward-whittle commented on #246
@spbriggs This is on the simulator using iOS 13. The implementation works fine when using iOS 12.2 on the simulator though.

[2019-10-09 04:50] jetobe95 commented on #94
Is it posible to add an option of file size limit?

[2019-10-11 03:53] MarlonX19 commented on #221
I am having the same issue stated above. No matter what I do it keeps happening every single time I try to run the app to test:

protected List getPackages() {
return Arrays.asList(
new MainReactPackage(),
new DocumentPickerPackage() // Add package
);
}
on adding this
android - cannot find symbol MainReactPackage
set canOverrideExistingModule=true in React Native error with red screen

[2019-10-11 03:54] MarlonX19 commented on #221
I am having the same issue stated above. No matter what I do it keeps happening every single time I try to run the app to test:

@override
protected List getPackages() {
return Arrays.asList(
new MainReactPackage(),
new DocumentPickerPackage() // Add package
);
}
on adding this
android - cannot find symbol MainReactPackage

[2019-10-13 12:46] XEmAX32 opened #248 "Upload documents to a server"
I'm trying to upload some files from my react native client to nodejs server using multer.
If I try to upload those files using Postman it works great, but when I do this using my mobile app it gives me this error:

    Error: Unexpected end of multipart data
        at /home/ema/iDiary/iDiary-server/node_modules/dicer/lib/Dicer.js:62:28
        at processTicksAndRejections (internal/process/next_

[2019-10-15 08:54] ezranbayantemur opened #249 "[URGENT] fatal error: 'React/RCTDefines.h' file not found (iOS)"
I did every installation step on document but it gives error, that on the issue title.

**1) INSTALL**
npm i --save react-native-document-picker

![Screen Shot 2019-10-15 at 11 36 27](https://user-images.githubusercontent.com/42299721/66815744-7ff22880-ef41-11e9-8d16-83f329298703.png)

**2) ADDING LIBRARY ON XCODE**
![Screen Shot 2019-10-15 at 11 37 29](https://user-images.githubusercontent.com/42

[2019-10-15 08:56] ezranbayantemur commented on #94
I tried these steps (and that on docs) but it gives RTCDefines.h error. I opened a issue about it

https://github.com/Elyx0/react-native-document-picker/issues/249

[2019-10-15 09:57] SaurabhCloudAnalogy commented on #242
@ameernormie did you find ways to solve this issue as I am facing the same

[2019-10-15 13:48] ezranbayantemur commented on #249
SOLVED

After ```npm i --save react-native-document-picker``` just run ```cd ios && pod install```

[2019-10-15 13:48] #249 closed

[2019-10-15 17:35] Cchumi opened #250 "ANDROID Google drive file uri upload to firebase"
Hi everyone.
I like your library thanks for that but on Android I have a problem for uploading the document picker res.uri to firebase storage.

Document picker return to me this kind of URI and I don't know how to access the path to upload the file to Firebase storage.

`content://com.google.android.apps.docs.storage/document/acc%3D1%3Bdoc%3Dencoded%3DyKmSCMqeCKVTPyqzPBQwP9s3jDoaWmxNZFg0XpXjHOqhW

[2019-10-15 18:38] dantman commented on #250
Document providers work with URIs, not file paths so you cannot get the file path.

If you want to upload it should be possible to use `fetch(`content://...`).then(res => res.blob())` to get a [Blob](https://developer.mozilla.org/en-US/docs/Web/API/Blob) instance with the contents of the file. Blobs can be used as post content in XHR/fetch and in FormData to do multipart form uploads.

[2019-10-16 06:04] Cchumi commented on #250
Thanks for your answer

I already try this fetch but cannot get a blob return from google drive content.
It's strange

I use your document Picker function
`try {
            const pickedFile = await DocumentPicker.pick({
                type: [
                    DocumentPicker.types.images,
                    DocumentPicker.types.pdf,
                    DocumentPicker.types.plainText

[2019-10-16 10:58] MuhammadSaadQadeer commented on #242
Turns out it has started working again automatically

[2019-10-17 06:24] vrnDhmn commented on #154
This solution worked perfectly on Xcode 10.1 and ios 12.1 for creating a custom folder and downloading a document in it.
[](https://stackoverflow.com/a/56513345/7430014)
![Simulator Screen Shot - iPad Pro (10 5-inch) - 2019-10-17 at 11 49 37](https://user-images.githubusercontent.com/22942015/66982703-587f9500-f0d4-11e9-8e45-ebec62b8a322.png)

Little addition to this, colour tag your file in ios t

[2019-10-18 16:10] ameernormie commented on #242
@SaurabhCloudAnalogy started working in the recent update. Closing it.

[2019-10-18 16:10] #242 closed

[2019-10-19 17:44] tanmoysarker commented on #161
Hillarious!!! it just simply works...

[2019-10-20 04:42] Elyx0 commented on #161
Thanks for the replies guys, this repo needs a lot of love, if anyone wants to clarify all that I'm merging!

[2019-10-21 11:55] aasalshehhi opened #251 "Possible Unhandled Promise Rejection (id: 1): TypeError: null is not an object (evaluating 'RNDocumentPicker.pick')"
Please help me solving this error. I have been trying for a week.

Possible Unhandled Promise Rejection (id: 1): TypeError: null is not an object (evaluating 'RNDocumentPicker.pick')

This happens in IOS simulator only

[2019-10-21 13:28] Elyx0 commented on #251
If that's all you have after a week I don't believe you 😁

[2019-10-21 15:12] coderjoel commented on #240
@franjorub your solution works perfectly, is the issue still open to add microsoft product extensions to the library?

[2019-10-22 04:42] aasalshehhi commented on #251
Well this is what is actually happening. I even deleted my project and used the backup to install again, but still the same issue in IOS.

[2019-10-24 13:30] DanielBoening commented on #246
any news on this issue? We have the same problem with iOS 13 simulator. Physical devices have the same error.

[2019-10-24 13:32] DanielBoening commented on #251
@aasalshehhi did you upgrade to > RN.60? The new binding system could mess with you.

[2019-10-24 13:35] DanielBoening commented on #242
Anything you did? We still have the same error. RN 0.61.2 and file picker version 3.2.4.

[2019-10-24 14:10] DanielBoening opened #253 "[Android] DocumentPicker.pick not calling callback"
Since the React Native update we have problem with the document picker.

RN: 61.2
react-native-document-picker: 3.2.4

``
DocumentPicker.pick({type: [DocumentPicker.types.allFiles],}, callback);
``

User is prompted to pick a file. After selecting a file, the callback should be called but this is not happening.

[2019-10-24 14:17] dantman commented on #253
@DanielBoening v3 does not use a callback API, it returns a promise. You need to use `.then` or `await`.

[2019-10-24 17:36] ameernormie commented on #242
@DanielBoening Not particularly, no. Just one day started working.

[2019-10-25 07:36] DanielBoening commented on #253
@dantman oh my..., thanks a lot for pointing it out.

[2019-10-25 09:47] ameernormie commented on #242
IOS version 13.0
Xcode version 11.0

On Fri, Oct 25, 2019, 12:55 PM DanielBoening <notifications@github.com>
wrote:

[2019-10-25 17:44] vmark99 commented on #246
Any help please? It doesn't work on iOS. Tried with a fresh react native 0.61 project with no other dependencies, on iOS 12.1, 12.2, 13. The file picker pops up, then there is no response or error when selecting a file.

[2019-10-26 23:17] spbriggs commented on #246
After spending the whole day trying to debug this I think I've finally tracked this down to a bug related to using XCode on macOS Mojave.

I set up a pure objective-c project in XCode (no React Native) with just a button to open a UIDocumentPickerViewController and hit a breakpoint when the didPickDocumentURLs function is called. I got the same behaviour as described in this bug ie the picker open

[2019-10-29 07:20] zhyafe opened #254 "The width and height of the image"
How do I get the width and height of the image?

[2019-10-30 20:03] cdunkel commented on #246
@spbriggs I'm having this issue with Xcode 10 builds in Mojave. I haven't tried Xcode 11 - I was waiting to update until after I'm through a big RN upgrade. As stated above, the document picker works fine in iOS 12.x on the sim, but has issues while running on my physical iOS 13 device.

So is the current thinking that upgrading to Catalina will fix it?

[2019-10-31 10:17] spbriggs commented on #246
@cdunkel I wouldn't say that it is "the current thinking" at the moment. It resolved my problem but yours might be different. I don't have an iOS 13 device so I was only using the simulator.

Of course, if you try Mojave and it fixes your problem please post here to let people know.

[2019-10-31 14:32] cdunkel commented on #246
I just spoke with one of our testers and she experienced no issues with the document picker while testing on an iPhone 7 and iPad running 13.1.3. I also just went back and re-tested on my iPhone X - which was the device on which the issue was first noticed - and I'm not seeing the problem anymore. It's also running iOS 13.1.3. All of the builds I've tested were built in Xcode 10 on Mojave.

I don'

[2019-10-31 14:35] DanielBoening commented on #246
Experiencing issue with the following setup:
Mojave 10.14.5
XCode 11.1
iPhone 6s with iOS 13.0 (physical device)
iPhone X with iOS 13.1 (simulator)

[2019-10-31 14:40] cdunkel commented on #246
@DanielBoening, is there any way you could test with a simulator running 13.1.3 or 13.2?

[2019-10-31 14:48] DanielBoening commented on #246
@cdunkel
No sorry. I cannot select those simulator runtimes in XCode. I think they are only available after upgrading to Catalina which I cannot do yet.

[2019-10-31 15:23] cdunkel commented on #246
Something else to test: what kind of docs are being attempting to select? In my testing I've seen the issue in apps build on both Mojave and Catalina, but I don't seem to have any issues when selecting images, PDFs, gifs, etc, but if I try to select a docx file it won't work. After one failed selection I can't select anything new without tapping it multiple times, even to navigate into a folder.

[2019-11-05 09:00] EdisonDevadoss commented on #57
Hi, Now I could not upload image in firebase storage using file URI.

[2019-11-05 09:47] littletower commented on #251
@aasalshehhi
had the same warning, forgot to run `cd ios && pod install && cd ..`.

[2019-11-05 23:42] Eramirez06 commented on #250
I'm having the same issue i cannot upload to firebase exclusive in Android when i select docs from *dowload* folder and from Google Drive if i pick docs from my internal storage directly all works fine

[2019-11-06 00:03] Eramirez06 commented on #133
i'm having same issue if i pick the doc directly from *Download* folder the path does not exist so i for that reason i cannot upload file to firebase.

but if i go to my internal storage and i pick the download folder and pick the same folder the uri returned let me upload the file to firebase

this sure only happend in Android, IOS works fine

[2019-11-12 18:29] NichoCM commented on #238
I've also been experiencing this issue. iCloud Documents is enabled for me. Android works beautifully, but trying to show the picker with `DocumentPicker.pick(...)` does nothing and throws no errors.

RN Version: 0.61.4 (but also wasn't working on 0.60.5)
RNDP Version: 3.2.4 (I tried downgrading to V2 but that didn't work either)

Tested on a physical running ios 12.3.1, and simulator running an i